@import '../../../sass/_abstracts';

.viewsNewDescrip 
    -webkit-box-sizing: border-box
    box-sizing: border-box
    display: -webkit-box
    display: -ms-flexbox
    webkit-display: -webkit-flex
    display: flex
    flex-direction: row
    -webkit-box-direction: row
    -ms-box-direction: row
    -ms-flex-direction: row
    flex-wrap: wrap
    -webkit-box-wrap: wrap
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
    width: 100%
    max-width: calc(100% - 300px)
    padding: 16px 0
    .infoProduct 
        width: 550px
        .media-container
            overflow: hidden
            max-width: 100%
            width: 550px
            margin-bottom: 16px
            margin: 0 auto
            max-height: 440px
            margin-left: 20px
