@import  '../../sass/_abstracts';

.sec__tiendasGrid 
    h2
        color: #DF0209
        text-align: center
        font-size: 2rem
        font-weight: 400
        display: inline-block
        width: 100%
        padding: 16px 0 8px
    p
        font-size: 1.3rem
        font-weight: 300
        text-align: center
        display: inline-block
        width: 100%
        padding: 0 0 16px
.sec__tiendasGrid.border .tiendasHeader
    img
        width: 100%
        height: 260px
        object-fit: cover
    .todosServicios
        display: none
        padding-top: 25px
    h2
        -webkit-box-sizing: border-box
        box-sizing: border-box
        color: #fff
        font-size: 1.5rem
        padding: 0 8px 8px
    p
        -webkit-box-sizing: border-box
        box-sizing: border-box
        color: #fff
        font-weight: 400
        font-size: 16px
        padding: 0 8px 14px
        line-height: 1.4rem
    .tiendasSearch
        position: relative
        margin: 0 auto
        width: 100%
        max-width: 500px
        .chosen-select, 
        .chosen-single
            border: 1px solid #DDD
            color: #666
            font-size: 0.9rem
            font-weight: 300
            padding: 4px 8px !important
            width: 100%
            height: auto !important
            background: #fff !important
            border-radius: none !important
            &>div 
                text-align: center
                background: none !important
                width: 30px !important
                &::before
                    font-size: 16px
                    content: ""
                    font-family: FontAwesome
                    color: rgb(102, 102, 102)
                    display: block
                    margin-top: 3px
        
        .chosen-container
            position: relative
            display: inline-block
            vertical-align: middle
            font-size: 13px
            -webkit-user-select: none
            -moz-user-select: none
            user-select: none
        .chosen-container-single .chosen-single
            position: relative
            display: block
            overflow: hidden
            padding: 0 0 0 8px
            height: 25px
            border: 1px solid #aaa
            border-radius: 5px
            background-color: #fff
            background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#fff),color-stop(50%,#f6f6f6),color-stop(52%,#eee),color-stop(100%,#f4f4f4))
            background: -webkit-linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%)
            background: -moz-linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%)
            background: -o-linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%)
            background: linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%)
            background-clip: padding-box
            box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0,0,0,.1)
            color: #444
            text-decoration: none
            white-space: nowrap
            line-height: 24px
            span
                font-weight: 100
                font-size: 0.9rem
                color: #727272
                display: block
                overflow: hidden
                margin-right: 26px
                text-overflow: ellipsis
                white-space: nowrap
            div
                position: absolute
                top: 0
                right: 0
                display: block
                width: 18px
                height: 100%

.tiendasOficialesTiendas
    min-height: auto
    // margin-left: auto
    margin-right: auto
    position: absolute
    top: 35%
    margin-left: 30%
.contentTiendasNew, .tiendasOficialesTiendas
    +mediaMax1500
        max-width: 100% !important
        // margin-left: auto !important
        margin-right: auto !important
.seccionTiendas
    background: #EEE
#boton-ir-arriba
    -webkit-transition: all 0.3s ease
    transition: all 0.3s ease
    position: fixed
    cursor: pointer
    bottom: 40px
    right: 20px
    background: rgba(0,0,0,0.7)
    width: 50px
    height: 50px
    display: none
    text-decoration: none
    border-radius: 5px
    z-index: 2010
    &:after
        -webkit-transition: all .3s
        transition: all .3s
        content: ""
        font-family: "FontAwesome"
        font-size: 21px
        font-size: 1.3125rem
        margin: 0
        color: white
        position: absolute
        left: 19px
        top: 13px
        line-height: 1.5
