@import '../../../../sass/_abstracts';

.boxRedes
	border-right: 1px solid $color-border
	height: 250px
	+mediaMax960
		height: auto
		order: 0
	+mediaMax480
		border-right: 0px none !important
		order: 3

	h4
		+mediaMax480
			background: transparent
			margin-bottom: 0

	.faceLikes
		display: block
		margin-top: 20px
		+mediaMax480
			margin-bottom: 16px
			margin-top: 0px
		.squareClaro
			display: inline-block
			width: 43px
			height: 43px
			img
				width: 100%
				height: auto
		.countLikes
			display: inline-block
			margin-left: 10px
			.clTittle
				color: #666
				font-size: 0.9rem
			.clLks
				margin-top: 5px
				img
					width: 15px
					height: auto
					margin-right: 5px
				span
					color: #666
					font-size: 0.7rem

	.downloadApp,
	.certificacionApp
		margin-top: 15px//30px
		display: block
		.sigTitle
			+font-size(14px)
			color: #333
			text-align: center
			width: 100%
			display: block
			margin-bottom: 5px
		ul
			max-width: 280px
			display: table
			margin: auto
			li
				float: left
				width: 50%
				&:nth-child(2)
					img
						float: right
			img
				width: 80%
				margin: auto
				min-width: 80px

	.certificacionApp
		margin-top: 15px

	.btn-nh
		+bx
		background: $primario
		height: 40px
		display: block
		float: left
		border: none
		color: white

	.nhformgroup
		display: table
		margin: -5px 0 10px
		width: 100%
		+mediaMax960
			margin: 0 auto
			width: 210px
		+mediaMax480
			width: 100%


	.redesLogos
		.sigTitle 
			+mediaMax480
				display: block
				margin: 0 auto
				margin-top: 16px
				margin-bottom: 8px

.redesLogos
	margin-top: 7px
	+mediaMax960
		margin-top: 10px
	span,
	ul
		display: inline-block
		li
			+fx(all,0.3s)
			display: inline-block
			width: 25px
			height: 25px
			background: #aaa
			padding: 5px!important
			margin: 0 2px
			border-radius: 5px
			&:hover
				opacity: 0.5
				filter: alpha(opacity=50)
	.sigTitle
		color: #333
		font-size: 0.9rem
		margin-right: 10px
	ul
		margin-top: 10px

	> ul
		display: inline-block
		overflow: visible!important

	.icoFacebook,
	.icoInstagram,
	.icoPinterest,
	.icoYoutube,
	.icoTwitter
		&:before
			text-align: center
			color: white
			font-size: 18px
			line-height: 1
	
	.icoFacebook
		&:before
			+fawesome("\f09a")
	.icoInstagram
		&:before
			+fawesome("\f16d")
	.icoPinterest
		&:before
			+fawesome("\f231")
	.icoYoutube
		&:before
			+fawesome("\f167")
	.icoTwitter
		&:before
			+fawesome("\f099")