@import  '../../../sass/_abstracts';

.infoDetalleProducto 
    .container
        -webkit-box-sizing: border-box
        box-sizing: border-box
        display: -webkit-box
        display: -ms-flexbox
        webkit-display: -webkit-flex
        display: flex
        flex-direction: row
        -webkit-box-direction: row
        -ms-box-direction: row
        -ms-flex-direction: row
        max-width: 100% !important
        width: calc(100% - 40px)
        .mod__DescripcionP
            width: 100%
            max-width: 100%
            min-height: 150px
            height: auto
            ul.viewMenu
                position: relative
                padding: 0 8px 20px
                font-size: 0.9rem
                font-weight: 500
                overflow: hidden !important
                li:first-child
                    padding-left: 0
                li 
                    float: left
                    height: 25px
                    padding: 0px 16px
                    border-right: 1px solid #666
                    color: #666
                    cursor: pointer
                    margin: 5px 0
                    display: table
                li.select span 
                    -webkit-box-sizing: border-box
                    box-sizing: border-box
                    background: -webkit-gradient(linear, left top, right top, from(#00ABE0), to(#1288E2))
                    background: linear-gradient(to right, #00ABE0, #1288E2)
                    color: white
                    padding: 10px
                    font-size: 1.2rem
                    font-weight: 500
                li > div
                    width: 100%
                    box-sizing: border-box
                    word-break: break-word
                
            .viewMenu
                display: -webkit-box
                display: -ms-flexbox
                webkit-display: -webkit-flex
                display: flex
                flex-direction: row
                -webkit-box-direction: row
                -ms-box-direction: row
                -ms-flex-direction: row
                -webkit-box-pack: start
                justify-content: flex-start
                -webkit-justify-content: flex-start
                -moz-justify-content: flex-start
                -ms-flex-pack: flex-start
                -ms-flex-pack: start
                -webkit-overflow-scrolling: touch
                overflow-x: auto !important
                overflow-y: hidden !important
                padding: 0 0 15px !important
                margin-bottom: -15px
                li.select:last-child
                    border-right: 1px solid white !important
                li.select:first-child
                    border-left: 1px solid white !important
                li.select:not(.is-multiple):not(.is-loading)::after
                    border-color: #ffffff
                    right: 1.125em
                    z-index: 4
                    display: none
                li.select
                    background: white !important
                    border-left: 1px solid #666 !important
                    border-right: 1px solid #666 !important
                    border-top: 1px solid white !important
                    border-bottom: 1px solid white !important
                    
                    span
                        border-bottom: 1px solid #EF3829
                        font-weight: 600 !important
                        color: black !important

                li:first-child
                    padding: 0 16px !important
                li
                    border: 1px solid #666
                    margin: 0 -1px 0 0 !important
                    min-width: 140px
                    span
                        background: transparent !important
                        color: #666 !important
                        border-radius: 0 !important
                        font-size: 1rem !important
                        border-bottom: 1px solid transparent !important
                        padding: 5px 0 !important
                        display: block !important
                        margin: 5px 0
                        font-weight: 300 !important
                        text-align: center
                li>div
                        display: none !important
                        padding: 5px 20px 20px !important
                        background: white
                        line-height: 1.7
                        white-space: pre-line
            ul.viewDescrip
                padding-left: 8px
                li
                    display: none
                    clear: both
                    color: #666
                    font-weight: 300
                    line-height: 1.5rem
            .viewDescrip
                -webkit-box-sizing: border-box
                box-sizing: border-box
                background: white
                padding: 20px !important
                min-height: 455px
            .show
                display: block !important

.Tabs  
    display: flex
    flex-flow: row nowrap
    text-align: center
    color: #fff
    background-color: #9c4dcc

.Tab
    padding: 1rem 1.5rem calc(1rem - 4px)
    border-bottom: 4px solid transparent
    &:hover 
        cursor: pointer
        border-bottom: 4px solid #fbc2eb
    &.is-selected 
        border-bottom: 4px solid #fbc2eb
  
.TabPanel 
    color: #000
    background: white
    padding: 1rem
