@import '../../../../sass/_abstracts';
.sec__slider
    +mediaMax960
        padding-top: 0

.mainSection
    margin: auto
    padding: 0
    height: auto
    min-height: 180px
    overflow: hidden
    width: calc(100% - 40px)
    +mediaMax780
        max-width: 100%
    .magazineTop
        width: 74.8%
        float: left
        max-width: 100%
        height: auto
        margin: 0 auto
        +mediaMax780
            width: 100%
            display: none
        .slick-prev, 
        .slick-next
            -webkit-transition: opacity .2s
            transition: opacity .2s
            opacity: 1
            width: 42px !important
            height: 75px !important
            padding: 20px 5px !important
        .slick-prev
            left: 0 !important
            border-radius: 0px 5px 5px 0px !important
            background: rgba(0,0,0,0.4) !important
            display: block
            z-index: 25
            &:before
                background: url(/css/img/flecha-back-32px.png) no-repeat !important
        .slick-next
            right: 0 !important
            border-radius: 5px 0px 0px 5px !important
            background: rgba(0,0,0,0.4) !important
            &:before
                background: url(/css/img/flecha-next-32px.png) no-repeat !important
        .slick-prev:before, 
        .slick-next:before
            content: " " !important
            display: block
            width: 32px !important
            height: 32px !important
            margin: 0px
            position: relative
    .bannersTop
        width: 24.7%
        max-width: 100%
        height: auto
        float: right
        margin-top: 0px
        display: block
        overflow: hidden
        +mediaMax780
            display: none
        .bannerOne 
            width: 100%
            height: auto
            float: none
            margin-bottom: 0
            display: none
            &:first-child 
                display: block
            a
                display: block
                margin-bottom: 0
            img
                width: 100%
                height: auto
.banner
    display: none
    +mediaMax780
        width: 100%
        display: block
        margin: 10px 0
    img
        border-radius: 8px
    .borde
        border: 1px solid #212121
