@import '../../../sass/_abstracts';

.wrapper 
    min-height: 550px
    background: #EEE

.sec__categorias
    margin: 0 auto
    text-align: center
    background-color: #EEE
    .sec__Internas 
        width: 100%
        display: table
        padding-bottom: initial
    .sec__headerTiendas 
        position: relative
        width: 100%
        margin: 16px 0 0
        +mediaMax480
            height: auto
            margin: 16px auto 0
        +mediaMax760
            height: auto
            margin: 16px auto 0
        img
            width: 100%
            height: auto
            -o-object-fit: cover
            object-fit: cover
            -o-object-position: top
            object-position: top
            min-height: 140px
            max-height: 140px
            +mediaMax760
                min-height: 130px
                -o-object-fit: cover
                object-fit: cover
    .content-categories
        width: 95%
        max-width: 100%
        margin: 0 auto
        padding: 0
        display: inline-block
        .sec__conent
            display: -webkit-box
            display: -ms-flexbox
            webkit-display: -webkit-flex
            display: flex
            -webkit-box-orient: horizontal
            -webkit-box-direction: normal
            -ms-flex-direction: row
            flex-direction: row
            -ms-flex-wrap: wrap
            flex-wrap: wrap
            +mediaMax760
                display: block
            .idTiendaBasica
                -webkit-box-sizing: border-box
                box-sizing: border-box
                max-width: 235px
                width: 94%
                height: auto
                vertical-align: top
                position: absolute
                background: #fff
                padding: 1px//10px
                min-height: 125px
                margin-top: -169px//-152px
                border: 1px solid #ddd
                border-radius: 3px
                +mediaMax760
                    margin-top: -192px
                +mediaMax480
                    left: 50%
                    margin-left: -125px
                .nameImgBasicStore
                    display: -webkit-box
                    display: -ms-flexbox
                    webkit-display: -webkit-flex
                    display: flex
                    flex-direction: column
                    -webkit-box-direction: column
                    -ms-box-direction: column
                    -ms-flex-direction: column
                    -webkit-box-align: center
                    align-items: center
                    -webkit-align-items: center
                    -ms-flex-align: center
                    .imgStore 
                        min-width: 50px
                        min-height: 50px
                        margin-bottom: 10px
                        max-width: 213px
                        img
                            width: 100%
                            height: auto
                            -o-object-fit: scale-down
                            object-fit: scale-down
                            max-height: 52px
                    .nameStore
                        margin-left: 5px
                        width: 100%
                        p
                            font-size: 1.3rem
                            text-align: left
                            width: 100%
            .tiendaBMar
                margin-top: 40px
                +mediaMax480
                    margin-top: 0
            .conent__productos
                overflow: hidden
                width: calc(100% - 251px)
                margin: 0 0 40px 0
                padding: 0
                position: relative
                padding-bottom: 8px
                max-height: 100%
                +mediaMax760
                    -webkit-box-sizing: border-box
                    box-sizing: border-box
                    width: 100% !important
                    margin: 0 auto
                    padding: 0 8px 0 8px
                .contenedorCategoria
                    position: relative
                    top: 0
                    .socialBar
                        display: table
                        width: 100%
                        margin-bottom: 20px
                        .shareProd 
                            margin-top: 4px
                            margin-bottom: 4px
                            float: right
                            +mediaMax480
                                margin-top: 0
                                margin-right: 10px
                                float: right
                            p 
                                font-size: 14px
                                font-size: .875rem
                                font-weight: 300
                                padding: 5px 8px 0 0
                                float: left
                            ul
                                display: table
                                margin: 0
                                float: left
                                li
                                    float: left
                                    display: table
                                    margin-right: 0
                                    a
                                        text-decoration: none
                                        display: block
                                        margin-right: 5px
                                        cursor: pointer
                                        &:before 
                                            display: table-cell
                                            vertical-align: middle
                                            text-align: center
                                            color: #fff
                                            width: 25px
                                            height: 25px
                                            font-size: 0.7rem
                                            border-radius: 50%
                                    a.b-fb::before
                                        content: ""
                                        font-family: FontAwesome
                                        background-color: rgb(43, 56, 143)
                                    a.b-tw::before
                                        content: ""
                                        font-family: FontAwesome
                                        background-color: rgb(39, 170, 225)
                                    a.b-mail::before
                                        content: ""
                                        font-family: FontAwesome
                                        background-color: #EF3829
                                    a.b-whats:before
                                        content: ""
                                        font-family: "FontAwesome"
                                        color: #71bd5a
                                        font-size: 1.8rem
                                        padding-top: 0
                                        border-radius: 0
                                        background: none
                                        position: relative
                                        top: -8px
                                    a.b-whats
                                        display: none
                                        +mediaMax480
                                            display: block
                    .sec__productos
                        margin-top: 0 !important
                        .titleProductoCategoria 
                            display: -webkit-box
                            display: -ms-flexbox
                            webkit-display: -webkit-flex
                            display: flex
                            -webkit-box-pack: justify
                            justify-content: space-between
                            -webkit-justify-content: space-between
                            -moz-justify-content: space-between
                            -ms-flex-pack: space-between
                            -ms-flex-pack: justify
                            -webkit-box-align: end
                            align-items: flex-end
                            -webkit-align-items: flex-end
                            -ms-flex-align: flex-end
                            margin: 0 5px 20px       
                            +mediaMax960
                                flex-direction: column
                                -webkit-box-direction: column
                                -ms-box-direction: column
                                -ms-flex-direction: column
                                float: left
                            h2
                                text-align: left
                                color: #666
                                font-size: 1.25rem
                                padding: 0 !important
                                margin: 0
                                text-transform: none 
                                +mediaMax960
                                    position: relative
                                    left: -32px
                            .sec
                                display: -webkit-box
                                display: -ms-flexbox
                                webkit-display: -webkit-flex
                                display: flex
                                flex-direction: row
                                -webkit-box-direction: row
                                -ms-box-direction: row
                                -ms-flex-direction: row
                                -webkit-box-align: center
                                align-items: center
                                -webkit-align-items: center
                                -ms-flex-align: center
                                +mediaMax960
                                    flex-direction: column-reverse
                                    -webkit-box-direction: column-reverse
                                    -ms-box-direction: column-reverse
                                    -ms-flex-direction: column-reverse
                                    -webkit-box-align: start
                                    align-items: flex-start
                                    -webkit-align-items: flex-start
                                    -ms-flex-align: flex-start
                                    width: 100%
                                    position: relative
                                .vistas
                                    width: 120px
                                    p
                                        float: left
                                        margin-right: 8px
                                        padding-top: 6px
                                        font-size: 0.875rem
                                        color: #666
                                    .listado, .mosaico
                                        color: inherit
                                        text-decoration: none
                                        width: 25px
                                        height: 25px
                                        background-color: #888
                                        float: left
                                        margin-right: 8px
                                        border-radius: 5px
                                        &:after
                                            width: 16px
                                            height: 16px
                                            margin-top: 2px
                                            position: relative
                                            top: 2px
                                            color: white
                                    .listado::after
                                        content: ""
                                        font-family: FontAwesome
                                    .mosaico::after
                                        content: ""
                                        font-family: FontAwesome
                                .filtroMobile
                                    +mediaMax760
                                        display: -webkit-box
                                        display: -ms-flexbox
                                        webkit-display: -webkit-flex
                                        display: flex
                                        -webkit-box-align: end
                                        align-items: flex-end
                                        -webkit-align-items: flex-end
                                        -ms-flex-align: flex-end
                                        display: block
                                        position: absolute
                                        top: 10px
                                        right: 10px
                                        .anclaClategoria
                                            position: absolute
                                            top: -80px
                                            display: block
                                            pointer-events: none
                                            visibility: hidden
                                        .cerrarCajaFiltros
                                            position: fixed
                                            top: 8px
                                            right: 8px
                                            display: none
                                            z-index: 1
                                        #open-filtros 
                                            position: relative
                                            -webkit-transition: all 0s
                                            transition: all 0s
                                            position: fixed
                                            top: 8px
                                            right: 10px
                                            background: #000
                                            background: rgba(218,38,45,0.9)
                                            width: 30px
                                            height: 30px
                                            text-decoration: none
                                            border-radius: 5px
                                            display: block
                                            z-index: 9999
                                            &:before
                                                background-color: transparent !important
                                                right: -25px
                                                content: "Filtrar"
                                                color: #666
                                                position: absolute
                                                right: -10px
                                                top: -14px
                                                font-size: 14px
                                                background: white
                                                width: 20px
                                                height: 30px
                                                display: block
                                                padding: 22px 90px 0px 0
                                                z-index: -12
                                            i
                                                -webkit-transition: all 0.3s ease
                                                transition: all 0.3s ease
                                                color: #fff
                                                margin: 0
                                                font-size: 19px
                                                position: absolute
                                                top: 0px
                                                right: 0px
                                                font-size: 19px
                                                background: red
                                                width: 33px
                                                z-index: 5
                                                height: 33px
                                                border-radius: 3px
                                                &:after
                                                    content: ""
                                                    font-family: "FontAwesome"
                                                    color: #fff
                                                    font-size: 20px
                                                    display: block
                                                    margin-top: -26px
                                                    position: absolute
                                                    top: 30px
                                                    right: 9px
            .conent__filtro
                -webkit-box-sizing: border-box
                box-sizing: border-box
                max-width: 251px
                width: 20%
                height: 100%
                vertical-align: top
                margin: 28px 0 0 0
                padding: 0 16px 0 0
                position: relative
                overflow-x: hidden !important
                +mediaMax1280
                    min-width: 250px
                +mediaMax760
                    -webkit-transition: max-height .3s
                    transition: max-height .3s
                    overflow: hidden
                    height: 0
                    max-height: 0
                    margin-top: 0 !important
                    bottom: -10px
                    max-width: 100% !important
                .menuCategorias
                    max-width: 100%
                    min-height: auto
                    min-width: 235px
                    position: relative
                    width: 100%
                    background-color: #fff
                    padding: 0 20px 16px 24px
                    margin: 0
                    h3.categ.title
                        color: #DF0209
                        padding-top: 20px
                        border-bottom: 1px solid #DDD
                        cursor: pointer
                    h3.categ
                        font-size: 1rem
                        font-weight: 400
                        color: #333
                        padding-bottom: 8px
                        text-align: left
                        a 
                            color: inherit
                            text-decoration: none
                            color: #DF0209
                .subCat.active
                    color: #DF0209
                    &::after 
                        content: ""
                        font-family: FontAwesome
                        top: 20px
                        right: 28px
                        pointer-events: none
                .subCat::after
                    content: ""
                    font-family: FontAwesome
                    position: absolute
                    top: 16px
                    right: 28px
                    pointer-events: none
