@import '../../../sass/_abstracts'

.mod__AyudaContacto
    padding: 30px 0 !important
    h2
        font-size: 24px
        font-size: 1.5rem
        margin: 0 auto 16px
        position: relative
    p
        padding: 0 0 15px
        color: #666
    .cont_Card
        -webkit-box-sizing: border-box
        box-sizing: border-box
        display: -webkit-box
        display: -ms-flexbox
        webkit-display: -webkit-flex
        display: flex
        flex-direction: row
        -webkit-box-direction: row
        -ms-box-direction: row
        -ms-flex-direction: row
        flex-wrap: wrap
        -webkit-box-wrap: wrap
        -webkit-flex-wrap: wrap
        -ms-flex-wrap: wrap
        -webkit-box-pack: justify
        justify-content: space-between
        -webkit-justify-content: space-between
        -moz-justify-content: space-between
        -ms-flex-pack: space-between
        -ms-flex-pack: justify
        padding: 20px 0
        .card
            -webkit-box-sizing: border-box
            box-sizing: border-box
            padding: 10px 30px
            text-align: center
            border: 1px solid #ddd
            background: white
            max-width: 40%
            width: 100%
            min-width: 200px
            height: 186px
            +mediaMax780
                height: initial
            +mediaMax480
                margin-bottom: 15px
                max-width: 100%
                height: auto
            h3
                margin-bottom: 10px
            .icon-tel::before
                content: ""
                font-family: FontAwesome
                font-size: 30px
                font-size: 1.875rem
                color: #EF3829
                line-height: 1
            .icon-mail::before
                content: ""
                font-family: FontAwesome
                font-size: 30px
                font-size: 1.875rem
                color: #EF3829
                line-height: 1
            p 
                font-size: 14px
                font-size: .875rem
                min-height: 50px
                padding-bottom: 10px
                padding: 0 0 15px
                color: #666
                span
                    display: block
            .link
                font-size: 14px
                font-size: .875rem
                text-decoration: none
                color: #4990e2
                &::after
                    content: ""
                    font-family: FontAwesome
                    margin-left: 5px
    
