//- Modulo de Abstracts con variables, funciones y mixines
@import './abstracts'

//- Styles del portal
html,
body
	font:
		family: $fontPrin
		size: $fontSize
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

code
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

.paddingTop_0
	padding-top: 0

main
	min-height: calc(100vh - 300px)
	
.wrapper
	min-height: 550px
	background: #f5f2f1
	padding-top: 0!important
	
section
	padding: $new-spacer 0
	&.gris
		background: $color-bg
		&.lastSection
			padding-bottom: $new-spacer*2
			margin-bottom: -$new-spacer

.container
	+bx
	width: 100%
	max-width: 95%
	margin: auto
	padding-left: $new-spacer
	padding-right: $new-spacer

.cf
	@extend %cf


h1, h2, h3, h4, h5, h6
	&.light
		font-weight: 300
	&.normal
		font-weight: 400
	&.medium
		font-weight: 500
	&.bold
		font-weight: 600

h1, .h1
	+font-size(32px)
	font-weight: 300
h2, .h2
	+font-size(28px)
	font-weight: 300
h3, .h3
	+font-size(24px)
	font-weight: 300
h4, .h4
	+font-size(20px)
	font-weight: 300
h5, .h5
	+font-size(16px)
	font-weight: 300


ul
	&.dottedList
		li
			position: relative
			margin-bottom: $min-spacer
			&:before
				color: $azul !important
				content: $bullet
				margin-right: $min-spacer
			&:last-child
				margin-bottom: 0
	&.dottedline
		li
			font-weight: 300
			margin-bottom: $min-spacer
			&:before
				content: '-'
				display: inline-block

.ventana_emergente,
.ventana_sussess
	+bx
	display: none
	padding: 8px 16px 8px 41.6px
	background: #f2f2f2
	border: 1px solid #C00
	margin: 0 0 12px
	width: 100%
	position: relative