@import '../../../sass/_abstracts';

.upperfooter
	width: 100%
	border-top: 1px solid $color-border
	border-bottom: 1px solid $color-border
	text-align: center

	+mediaMin1102
		height: 258px

	+mediaMax960
		+bx
		border-right: 0
		display: block !important
		webkit-display: block !important

	+mediaMax480
		+bx
		+flex(!important)
		+flexDir(column)
		border-right: 0

//- Modulos genericos
.boxContacto,
.boxClaroShop,
.boxRedes,
.boxServicioCliente
	display: inline-block
	// height: auto//218px
	padding: 10px 20px 30px
	text-align: left
	vertical-align: top
	+mediaMax960
		+bx
		padding: 10px 40px 30px
		width: 49%
		text-align: center
	+mediaMax480
		height: auto
		padding: 10px 40px 10px
		width: 100%
	h4
		color: #333
		font-size: .9rem
		padding: 16px 0
		+mediaMax960
			background: transparent
			text-align: center
			margin-bottom: 0
			cursor: default
		+mediaMax480
			background: #ddd
			text-align: center
			border-radius: 5px
			cursor: pointer
			&.active
				+ ul
					+fx(all,0.3)
					max-height: 100%
					overflow: hidden
	ul 
		li 
			color: #555
			font-size: 0.8rem
			padding: 7px 0
			a
				color: #555
				font-size: 0.8rem
				padding: 7px 2px 7px 0
				text-decoration: none
				&:hover
					text-decoration: underline
					color: #4990E2
			&.icoCha
				&:before
					+fawesome("\f0e5")
					margin-right: 5px
				a
					&:hover
						padding-left: 0

		+mediaMax960
			max-height: 100%
			width: auto

		+mediaMax480
			+fx(all,0.3)
			max-height: 0
			overflow: hidden

	a
		+aReset

	input[type="text"]
		+bx
		+appearance
		background: #EEE
		border: 1px solid $color-border
		height: 40px
		display: block
		float: left
		padding: 0 10px
		width: calc(100% - 50px)