@import '../../../sass/_abstracts';

.disclaimerNotice
	background: #DDD
	padding: 10px 0
	text-align: center
	p
		font-weight: 300
		font-size: 0.7rem
		display: none


@media only screen and (max-width: 480px)
	.disclaimerNotice
		p
			padding: 0 10px