.none
    display: none !important
.imagenS
    width: 390px//auto
    max-width: 100%
    max-height: 390px
    margin: auto
    display: table
    cursor: zoom-in
.media-container 
    overflow: hidden
    max-width: 100%
    width: 550px
    margin-bottom: 16px
    margin: 0 auto
    max-height: 440px
    .carrusel-producto 
        .slick-slide
            -webkit-box-sizing: border-box
            box-sizing: border-box
            border: 1px solid #ddd
            display: inline-block
            width: 100%
            padding: 1px
            overflow: hidden
            min-height: 395px
            max-height: 395px
            height: 100%
            // margin-right: 9px !important
            img
                cursor: zoom-in
                width: 390px//auto
                max-width: 100% !important
                max-height: 390px
                margin: auto
                display: table
            li.slick-slider
                position: inherit !important
    .carrusel-producto 
        min-width: 60px !important
        position: relative
        margin: 0 auto
        padding: 0 0 10px 0
        float: right
        width: 470px//484px//480px
        border: 2px solid #e8e8e8
        li
            &:active
                border: 2px solid #000 !important
            
        .slick-track, .slick-list 
            -webkit-transform: translate3d(0, 0, 0)
            -moz-transform: translate3d(0, 0, 0)
            -ms-transform: translate3d(0, 0, 0)
            -o-transform: translate3d(0, 0, 0)
            transform: translate3d(0, 0, 0)
        .slick-list
            position: relative
            display: block
            overflow: hidden
            margin: 0
            padding: 0
        .slick-track
            position: relative
            top: 0
            left: 0
            display: block
            margin-left: auto
            margin-right: auto
        .slick-slide 
            -webkit-box-sizing: border-box
            box-sizing: border-box
            border: 1px solid #ddd
            display: inline-block
            padding: 1px
            overflow: hidden
            min-height: 395px
            max-height: 395px
            height: 100%
            position: relative
            display: block        
    
    .divVertical
        width: 68px
        .active
            border: 1px solid #EF3829 !important
        .normal
            border: 1px solid #d3d3d3 !important
        .inactive
            border: none
        .slick-prev1
            border: none
            background: none
            position: relative !important
            top: 26% !important
            display: block
            cursor: pointer
            outline: none
            opacity: 1 !important
            left: 22% !important// 3% !important
            // margin-left: 10px !important
            &:before
                // line-height: 1
                content: "\f106" !important
                font-family: "FontAwesome" !important
                width: 32px !important
                height: 32px !important
                margin: 0px !important
                position: relative !important
                display: block !important
                color: #000 !important
                font-size: 38px !important
                font-weight: 500
        .slick-next1
            padding: 0 !important
            width: 30px
            display: block
            font-size: 0
            line-height: 0
            position: relative
            display: block
            padding: 0
            opacity: 1 !important
            transform: translate(0, -50%)
            cursor: pointer
            border: none
            outline: none
            position: absolute
            background: none
            left: 25px
            margin-top: -90px
            &:before
                color: #000 !important
                font-size: 38px !important
                margin-right: -28px
                content: "\f107" !important
                width: 32px !important
                height: 32px !important
                font-family: "FontAwesome" !important
                font-weight: 500
        .slick-prev1.slick-disabled:before, 
        .slick-next1.slick-disabled:before 
            opacity: .25

.divVertical
    .slick-track 
        a
            -webkit-box-sizing: border-box
            box-sizing: border-box
            border: 1px solid #ddd
            display: inline-block
            width: 60px
            padding: 1px
            overflow: hidden
            height: auto
            img
                max-width: 60px
.slick-prev1
    border: none
    background: none
    position: relative !important
    top: 26% !important
    display: block
    cursor: pointer
    outline: none
    opacity: 1 !important
    left: 2% !important// 3% !important
    &:before
        content: "\f106" !important
        font-family: "FontAwesome" !important
        width: 32px !important
        height: 30px !important
        margin: 0px !important
        position: relative !important
        display: block !important
        color: #000 !important
        font-size: 38px !important
        font-weight: 500
        top: -13px
.slick-next1
    padding: 0 !important
    width: 30px
    display: block
    font-size: 0
    line-height: 0
    position: relative
    display: block
    padding: 0
    opacity: 1 !important
    transform: translate(0, -50%)
    cursor: pointer
    border: none
    outline: none
    position: absolute
    background: none
    left: 25px
    &:before
        color: #000 !important
        font-size: 38px !important
        margin-right: -28px
        content: "\f107" !important
        width: 32px !important
        height: 32px !important
        font-family: "FontAwesome" !important
        font-weight: 500

