.menuTiendas
    -webkit-box-sizing: border-box
    box-sizing: border-box
    width: 50%
    margin-right: 2%
    ul 
        display: -webkit-box
        display: -ms-flexbox
        webkit-display: -webkit-flex
        display: flex
        flex-direction: row
        -webkit-box-direction: row
        -ms-box-direction: row
        -ms-flex-direction: row
        -webkit-box-pack: justify
        justify-content: space-between
        -webkit-justify-content: space-between
        -moz-justify-content: space-between
        -ms-flex-pack: space-between
        -ms-flex-pack: justify
    li
        -webkit-box-sizing: border-box
        box-sizing: border-box
        display: -webkit-box
        display: -ms-flexbox
        webkit-display: -webkit-flex
        display: flex
        -webkit-box-align: center
        align-items: center
        -webkit-align-items: center
        -ms-flex-align: center
        -webkit-box-pack: justify
        justify-content: space-between
        -webkit-justify-content: space-between
        -moz-justify-content: space-between
        -ms-flex-pack: space-between
        -ms-flex-pack: justify
        color: white
        height: 42px
        min-width: 96px
        text-align: center
        width: 33.333%
        &.active, 
        &:hover, 
        &.hover
            background: white !important
            color: #666666
        a 
            color: inherit
            text-decoration: none
            display: -webkit-box
            display: -ms-flexbox
            webkit-display: -webkit-flex
            display: flex
            -webkit-box-align: center
            align-items: center
            -webkit-align-items: center
            -ms-flex-align: center
            -webkit-box-pack: center
            justify-content: center
            -webkit-justify-content: center
            -moz-justify-content: center
            -ms-flex-pack: center
            width: 100%
            height: 100%
    li.tiendas
        background: #666
    li.mall 
        background: #666
        border-left: 1px solid #434343
    .tiendas, 
    .mall
        font-weight: 300
        font-size: 0.9rem
        padding: 0px 8px
        width: 100%
        a
            padding: initial !important