@import '../../../sass/_abstracts';

.sectionBeneficios
    background-color: white
    padding: 0
    .container
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        padding: 10px 0
        box-sizing: border-box
        margin: auto
        +mediaMin760
            max-width: 100%
            width: calc(100% - 40px)
        +mediaMax760
            overflow-x: hidden
        +mediaMax780
            flex-wrap: wrap
        .bTelmex
            border-left: none !important
            color: inherit
            +mediaMax780
                border-bottom: 2px solid #eee
            img
                height: 30px
        .bSegura
            color: inherit
            +mediaMax780
                border-left: none !important
        .bOriginal
            +mediaMax780
                border-bottom: 2px solid #eee
        .bGratis 
            img
                height: 30px !important
                width: 45px !important
                object-fit: cover !important
        .cardBeneficios 
            border-left: 2px solid #eee
            display: flex
            flex-direction: row
            justify-content: space-around
            align-items: center
            max-width: 240px
            width: 100%
            padding: 10px 15px
            box-sizing: border-box
            min-height: 72px
            +mediaMax780
                max-width: 50%
            +mediaMax320
                max-width: 100%
                border-left: none !important
                border-bottom: 2px solid #eee
            p
                text-transform: uppercase
                font-size: 12px
                font-size: 14px
                font-weight: 600
                span
                    text-transform: lowercase
                    display: block
                    font-weight: 400
        
            img
                max-height: 50px
                width: auto
                object-fit: scale-down
                margin: 0 5px
        .bGratis p 
            max-width: 113px
