.seccionTiendas 
    .tiendasTop
        padding-top: 16px
        padding-bottom: 24px
        display: inline-block
        width: 100%
        h2
            text-align: left
            font-size: 1.2rem
            font-weight: 400
            color: #DF0209
            display: inline-block
            width: 100%
        .container 
            article
                padding: 8px 16px !important
                width: 12.5%!important
                min-width: 198px !important
                box-sizing: border-box
                float: left
                display: table
                a
                    border: none !important
                    -webkit-box-shadow: inset 0 0 0 1px #DDD
                    box-shadow: inset 0 0 0 1px #DDD
                    -webkit-transition: 2.5s
                    -webkit-transition: color 2.5s
                    transition: color 2.5s
                    -webkit-box-sizing: border-box
                    box-sizing: border-box
                    background: #fff
                    position: relative
                    width: 100%
                    height: 100px
                    text-align: center
                    display: table-cell
                    border: #DDD 1px solid
                    vertical-align: middle
                    padding: 8px
                    -webkit-transition: 0.5s
                    transition: 0.5s
                    &:hover
                        border: blue  1px solid !important
                    img
                        width: 80% !important
                        padding-left: 10px
                        transition: 0.5s
                        opacity: 0.70
                    &:before
                        top: 0
                        left: 0
                        box-sizing: border-box
                        content: ''
                        position: absolute
                        border: 1px solid transparent
                        width: 0
                        height: 0
                    &::after
                        bottom: 0
                        right: 0
                        box-sizing: border-box
                        content: ''
                        position: absolute
                        border: 1px solid transparent
                        width: 0
                        height: 0
