@import '../../../../sass/_abstracts';

.boxServicioCliente
	border-right: 1px solid $color-border
	height: 250px
	+mediaMax960
		border-right: 0px none #DDD !important
	.nhformgroup
		display: table
		margin: -5px 0 10px
		width: 100%
	.btn-nh
		+bx
		background: $primario
		height: 40px
		display: block
		float: left
		border: none
		color: white