@import  '../../../sass/_abstracts';

.cintillo-msi
    display: flex
    flex-direction: row
    justify-content: center
    width: 100%
    .cintillo-msi-img
        display: flex
        flex-direction: row
        width: 100%
        img
            width: 100%
        .msi-desktop
            max-height: 62px
            +mediaMax1102
                display: none
        .msi-mobile
            display: none
            max-height: 39px
            +mediaMax1102
                display: block
