@import '../../../sass/_abstracts';

.foterNewsletter
	+bx
	width: 100%
	border-top: 1px solid $color-border
	padding: 30px 0
	text-align: center
	.newsletterBlock
		+flex
		+flexDir
		+flexWrap
		+justifyCont(center)
		width: 95%
		max-width: 100%
		margin: auto
		+mediaMax960
			+flexDir(colunm)
			
	h4
		width: 100%
		padding-top: 0
		text-align: left
	h5,
	label
		+bx
		font-size: 14px
		text-align: right
		padding-right: 10px
		width: 100%
		+mediaMax960
			width: 100%
			text-align: center
		strong
			font-weight: 500

	.nlMessage
		+flex
		+flexDir
		+alignItem(center)
		+justifyCont(flex-start)
		+mediaMax960
			margin-bottom: 20px
			text-align: center
			width: 100%
	.nlform
		width: 50%
		+flex
		+flexDir
		+alignItem(center)
		+justifyCont(flex-end)
		+mediaMax960
			width: 100%
		+mediaMax480
			+flexWrap
			+justifyCont	
		input[type="text"],
		input[type="email"]
			+bx
			+appearance
			background: #eee
			border: 1px solid $color-border
			height: 40px
			display: block
			float: left
			padding: 0 10px
			width: calc(100% - 50px)
			+mediaMax480
				width: 100%
				margin: 0 auto 20px
		button
			+bx
			background: $primario
			height: 40px
			display: block
			float: left
			border: none
			color: white
			border-radius: 5px
			margin-left: 10px
			min-width: 100px
			&:focus
				outline: none
			+mediaMax480
				width: 45%
				margin-left: 0


.nlform
	.validation
		display: none
		width: 5px
		position: relative
		top: 40px
		right: 400px
		.note-val
			width: 150px
			background: #F199A4
			text-align: center
			border-radius: 6px
			padding: 8px
			box-shadow: 1px 1px 1px 1px rgba(48, 54, 61, 0.2)
			position: relative
			span
				color: white
				font-size: 0.7em
				font-weight: 300
			&:after
				content: ""
				position: absolute
				bottom: 100%
				left: 50%
				margin-left: -5px
				border-width: 5px
				border-style: solid
				border-color: transparent transparent #F199A4 transparent


#messageBoletin
	margin: 16px 30%
	min-width: 280px
	&:before
		+fawesome("\f071")
		color: $naranja
		margin-right: 10px

	&.ventana_emergente
		display: none
		&.active
			display: block
			color: black
	+mediaMax960
		margin: -4px 15% 16px
		min-width: 280px
