@import '/../../../sass/_abstracts';

.promoHeader
    width: calc( 93% - 175px)
    margin-left: 2px
    font-size: 0.9rem
    ul
        display: -webkit-box !important
        display: -ms-flexbox !important
        display: flex !important
        -webkit-box-orient: horizontal
        -webkit-box-direction: normal
        -ms-flex-direction: row
        flex-direction: row
        -webkit-box-pack: start
        -ms-flex-pack: start
        justify-content: flex-start
    li
        display: -webkit-box !important
        display: -ms-flexbox !important
        display: flex !important
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
        -webkit-box-pack: center
        -ms-flex-pack: center
        justify-content: center
        text-align: center
        color: white
        a
            -webkit-box-sizing: border-box
            box-sizing: border-box
            color: inherit
            text-decoration: none
            display: -webkit-box !important
            display: -ms-flexbox !important
            display: flex !important
            -webkit-box-align: center
            -ms-flex-align: center
            align-items: center
            -webkit-box-pack: center
            -ms-flex-pack: center
            justify-content: center
            padding: 0 10px
            width: 100%
            height: 42px
            color: white
            &:hover
                -webkit-transition: background .1s
                transition: background .1s
                background: #888
                font-weight: 400
                color: white
        .menuOferta
            background: #C00
            font-weight: 500
            &:hover
                background: #B7202E
        .super
            background: #0DC511
            color: white
            font-weight: 500
            border-top: 1px solid #0DC511
            border-bottom: 1px solid #0DC511
            &:hover
                background: #0aac0d
    .barraCPHeader 
        position: relative
    #barra-cp
        -webkit-box-sizing: border-box
        box-sizing: border-box
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
        position: relative
        cursor: pointer
        max-width: 224px
        text-align: left
        padding: 8px
        display: none
        &::before
            content: ""
            font-family: FontAwesome
            margin-right: 9px
    #barra-cp-direccion
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
        width: auto
        display: inline-block
        min-height: 16px
    #barra-codigo-postal
        width: 55px
        text-align: right
        display: inline-block
