@import '../../sass/_abstracts'

.sec__conent 
    display: -webkit-box
    display: -ms-flexbox
    webkit-display: -webkit-flex
    display: flex
    -webkit-box-orient: horizontal
    -webkit-box-direction: normal
    -ms-flex-direction: row
    flex-direction: row
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    margin-top: 20px
    .conent__filtro 
        -webkit-box-sizing: border-box
        box-sizing: border-box
        max-width: 251px
        width: 20%
        height: 100%
        vertical-align: top
        margin: 28px 0 0 0
        padding: 0 16px 0 0
        position: relative
        overflow-x: hidden !important
    .conent__productos
        overflow: hidden
        width: calc(100% - 251px)
        margin: 0 0 40px 0
        padding: 0
        position: relative
        padding-bottom: 8px
        max-height: 100%
        .titleProductoCategoria
            display: -webkit-box
            display: -ms-flexbox
            webkit-display: -webkit-flex
            display: flex
            -webkit-box-pack: justify
            justify-content: space-between
            -webkit-justify-content: space-between
            -moz-justify-content: space-between
            -ms-flex-pack: space-between
            -ms-flex-pack: justify
            -webkit-box-align: end
            align-items: flex-end
            -webkit-align-items: flex-end
            -ms-flex-align: flex-end
            margin: 0 5px 20px
            h2
                width: 100%
                text-align: left
                color: #666
                font-size: 1.25rem
                padding: 0 !important
                margin: 0
                text-transform: none
            .sec
                display: -webkit-box
                display: -ms-flexbox
                webkit-display: -webkit-flex
                display: flex
                flex-direction: row
                -webkit-box-direction: row
                -ms-box-direction: row
                -ms-flex-direction: row
                -webkit-box-align: center
                align-items: center
                -webkit-align-items: center
                -ms-flex-align: center
                .resultadoBusqueda
                    font-size: 14px
                    font-size: .875rem
                    color: #666
                    margin-right: 20px
                .vistas
                    width: 170px
                    p 
                        float: left
                        margin-right: 8px
                        padding-top: 6px
                        font-size: 0.875rem
                        color: #666
                    .listado, .mosaico
                        color: inherit
                        text-decoration: none
                        width: 25px
                        height: 30px
                        background-color: #888
                        float: left
                        margin-right: 8px
                        border-radius: 5px
                        padding: 2px 2px 2px 4px
                        &:after
                            width: 16px
                            height: 16px
                            margin-top: 2px
                            position: relative
                            top: 2px
                            color: white
                    .listado::after
                        content: ""
                        font-family: FontAwesome
                    .mosaico::after
                        content: ""
                        font-family: FontAwesome

                .ordenar__prod
                    position: relative !important
                    font-size: 0.875rem
                    color: #666
                    border: 1px solid #DDD
                    border-radius: 5px
                    padding: 5px 16px
                    min-width: 170px
                    background: white
                    span.select 
                        position: relative
                        select
                            -webkit-appearance: none
                            -moz-appearance: none
                            appearance: none
                            background: transparent
                            border: 0
                            width: 100%
                            color: #666
                        &::after
                            box-sizing: border-box
                            content: ""
                            font-family: FontAwesome
                            transform: translateY(-50%)
                            top: 50%
                            position: absolute
                            right: 0px
                            pointer-events: none
                            border-left: 1px solid rgb(221, 221, 221)
                            padding: 9px 10px
                    span.select.option2:after
                        border-left: none
                        border-color: transparent !important

.contentProductsCategory
    display: -webkit-box
    display: -ms-flexbox
    webkit-display: -webkit-flex
    display: flex
    flex-direction: row
    -webkit-box-direction: row
    -ms-box-direction: row
    -ms-flex-direction: row
    flex-wrap: wrap
    -webkit-box-wrap: wrap
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
    .rowProductos 
        overflow-x: hidden
        overflow-y: auto
        display: -webkit-box
        display: -ms-flexbox
        webkit-display: -webkit-flex
        display: flex
        flex-direction: row
        -webkit-box-direction: row
        -ms-box-direction: row
        -ms-flex-direction: row
        flex-wrap: wrap
        -webkit-box-wrap: wrap
        -webkit-flex-wrap: wrap
        -ms-flex-wrap: wrap
        width: calc(100% + 10px)
    .paginador 
        padding: 16px 8px
        width: auto
        display: table
        padding: 16px 8px
        margin: auto
        ul
            display: -webkit-box
            display: -ms-flexbox
            webkit-display: -webkit-flex
            display: flex
            flex-direction: row
            -webkit-box-direction: row
            -ms-box-direction: row
            -ms-flex-direction: row
            -webkit-box-align: center
            align-items: center
            -webkit-align-items: center
            -ms-flex-align: center
            -webkit-box-pack: center
            justify-content: center
            -webkit-justify-content: center
            -moz-justify-content: center
            -ms-flex-pack: center
            a 
                color: inherit
                text-decoration: none
                color: black
                border: 1px solid #ccc
                padding: 7px 13px
                cursor: pointer
                margin: 3px
                background: white
                border-radius: 3px
                font-size: 0.9rem
                &.active, &:hover 
                    color: #F58220
                    background: whitesmoke
                    border: 1px solid #F58220
.cardProduct
    margin: 5px
    width: calc(20% - 10px)
    -webkit-box-sizing: border-box
    box-sizing: border-box
    background-color: white
    width: 246px//225px
    min-width: 180px
    float: left
    position: relative
    font-weight: 300
    a
        color: inherit
        text-decoration: none
        display: block
        .contImgProd 
            -webkit-box-sizing: border-box
            box-sizing: border-box
            height: 240px
            padding-top: 10px
            img
                display: table
                margin: auto
                width: 90%
                max-width: 240px
                height: auto
                max-height: 240px
                -o-object-fit: scale-down
                object-fit: scale-down
        .carruselContenido
            -webkit-box-sizing: border-box
            box-sizing: border-box
            display: -webkit-box
            display: -ms-flexbox
            webkit-display: -webkit-flex
            display: flex
            flex-direction: row
            -webkit-box-direction: row
            -ms-box-direction: row
            -ms-flex-direction: row
            flex-wrap: wrap
            -webkit-box-wrap: wrap
            -webkit-flex-wrap: wrap
            -ms-flex-wrap: wrap
            width: 100%
            padding: 10px 15px
            min-height: 70px
            .descrip
                margin: 0 0 18px
                font-size: 0.9rem
                color: #333
                text-align: left
                line-height: 1.3
                height: 36px
                overflow: hidden
            .info
                -webkit-box-sizing: border-box
                box-sizing: border-box
                display: -webkit-box
                display: -ms-flexbox
                webkit-display: -webkit-flex
                display: flex
                flex-direction: row
                -webkit-box-direction: row
                -ms-box-direction: row
                -ms-flex-direction: row
                flex-wrap: wrap
                -webkit-box-wrap: wrap
                -webkit-flex-wrap: wrap
                -ms-flex-wrap: wrap
                -webkit-box-pack: justify
                justify-content: space-between
                -webkit-justify-content: space-between
                -moz-justify-content: space-between
                -ms-flex-pack: space-between
                -ms-flex-pack: justify
                -webkit-box-align: center
                align-items: center
                -webkit-align-items: center
                -ms-flex-align: center
                width: 100%
                min-height: 46px
                .infoDesc 
                    -webkit-box-sizing: border-box
                    box-sizing: border-box
                    display: -webkit-box
                    display: -ms-flexbox
                    webkit-display: -webkit-flex
                    display: flex
                    flex-direction: row
                    -webkit-box-direction: row
                    -ms-box-direction: row
                    -ms-flex-direction: row
                    flex-wrap: wrap
                    -webkit-box-wrap: wrap
                    -webkit-flex-wrap: wrap
                    -ms-flex-wrap: wrap
                    -webkit-box-pack: justify
                    justify-content: space-between
                    -webkit-justify-content: space-between
                    -moz-justify-content: space-between
                    -ms-flex-pack: space-between
                    -ms-flex-pack: justify
                    -webkit-box-align: center
                    align-items: center
                    -webkit-align-items: center
                    -ms-flex-align: center
                    width: calc(100% - 70px)
                    .precioant
                        -webkit-box-sizing: border-box
                        box-sizing: border-box
                        max-width: 50%
                        text-align: left
                        color: #888
                        min-height: 13px
                        margin: 0 8px 5px 0
                        font-size: 0.9rem
                        min-height: 15px
                        text-decoration: line-through
                    .preciodesc
                        -webkit-box-sizing: border-box
                        box-sizing: border-box
                        font-size: 1.2rem
                        min-height: 25px
                        color: #EF3829
                        width: 100%
                        display: block
                        font-weight: 500
                        text-align: left
                        padding-right: 5px
                    .descText
                        padding: 2px
                        width: auto
                        position: relative
                        height: auto
                        border-radius: 5px
                        background: #117C00
                        font-weight: 500
                        display: -webkit-inline-box
                        display: -ms-inline-flexbox
                        display: inline-flex
                        top: inherit
                        left: inherit
                        margin-right: -10px
                        span
                            font-size: 0.8rem
                            color: white
                .contentPromo
                    display: -webkit-box
                    display: -ms-flexbox
                    webkit-display: -webkit-flex
                    display: flex
                    flex-direction: row
                    -webkit-box-direction: row
                    -ms-box-direction: row
                    -ms-flex-direction: row
                    -webkit-box-pack: end
                    justify-content: flex-end
                    -webkit-justify-content: flex-end
                    -moz-justify-content: flex-end
                    -ms-flex-pack: flex-end
                    -ms-flex-pack: end
                    width: 70px
                    padding-top: 15px
                    .envioCard
                        display: inline-block
                        width: 70px!important
                        height: 24px
                        position: relative
                        float: right
                        span
                            box-sizing: border-box
                            // display: none!important
                            -webkit-transition: none
                            transition: none
                            opacity: 1
                            position: relative
                            font-family: sans-serif
                            font-size: 9px
                            padding: 5px 3px
                            font-weight: 500
                            text-transform: uppercase
                            background: green
                            color: white
                            border: none
                            top: 0!important
                            left: 0
                            min-width: 70px
                            max-width: 70px
                            text-align: center
                            pointer-events: none
                            width: 100%



.back:after
    content: "<"
    font-size: 16px
    left: -25px
    top: -4px
.backback
    &:after
        content: "<<"
        font-size: 16px
        left: -25px
        top: -4px
.next:after
    content: ">"
    font-size: 16px
    left: -25px
    top: -4px
.nextnext:after
    content: ">>"
    font-size: 16px
    left: -25px
    top: -4px
.activarPaginacion
    color: #F58220 !important
    background: whitesmoke !important
    border: 1px solid #F58220 !important
