@import '../../../sass/_abstracts'

.lowerfooter
	+bx
	background: #333
	text-align: center
	width: 100%
	overflow: hidden
	padding: 10px 20px
	@media only screen and (max-width: 780px) and (min-width: 481px)
		padding: 10px 20px 10px 20px
	+mediaMax320
		padding: 16px 8px

	ul
		+flex
		+justifyCont(space-arround)
		width: 50%
		margin: 10px 0
		float: left
		+mediaMax960
			width: 50%
		+mediaMax480
			width: 100%
			margin: 16px 0 0px 0px

	li
		width: 100px
		height: 40px
		float: left
		+mediaMax320
			width: 41%

	a
		font-weight: 300
		color: white
		display: inline-block
		text-decoration: none
		&:hover
			text-decoration: underline

	span
		color: white
		font-weight: 300
		font-size: 0.8rem
		display: inline-block
		margin: 0 10px

	.legales
		color: white
		font-size: 0.7rem