@import '../../../../sass/_abstracts';

.buy-Details
    -webkit-box-sizing: border-box
    box-sizing: border-box
    padding: 0 20px
    width: calc(100% - 555px)
    h1
        padding: 8px 0 16px
        font-size: 28px
        font-weight: 300
    .yotpo
        direction: LTR
        clear: both
        text-align: left
    .mensajeAgotado
        width: 100%
        margin: 10px
        // display: none
        .alertaAgotado 
            border: 1px solid #F6A623
            padding: 2px 0
            margin-bottom: 10px
            span
                color: #F6A623
                font-size: 0.9rem
                font-weight: 300
                &::before
                    content: ""
                    font-family: FontAwesome
                    color: rgb(246, 166, 35)
                    font-size: 1.2rem
                    margin: 0px 10px
        .notificactionEmpty
            -webkit-box-sizing: border-box
            box-sizing: border-box
            padding: 10px 0
            .form-group 
                -webkit-box-sizing: border-box
                box-sizing: border-box
                display: -webkit-box
                display: -ms-flexbox
                webkit-display: -webkit-flex
                display: flex
                flex-direction: row
                -webkit-box-direction: row
                -ms-box-direction: row
                -ms-flex-direction: row
                -webkit-box-align: center
                align-items: center
                -webkit-align-items: center
                -ms-flex-align: center
                -webkit-box-pack: center
                justify-content: center
                -webkit-justify-content: center
                -moz-justify-content: center
                -ms-flex-pack: center
                padding-bottom: 20px
                width: 100%
                float: none
                input, label
                    margin: 0 10px 0 0
                    font-size: 17px
                #checkAgotado + label
                    color: #EF3829
                    text-decoration: underline
            .seguirTienda 
                -webkit-box-sizing: border-box
                box-sizing: border-box
                // display: -webkit-box
                // display: -ms-flexbox
                display: block
                webkit-display: -webkit-flex
                // display: flex
                flex-direction: row
                -webkit-box-direction: row
                -ms-box-direction: row
                -ms-flex-direction: row
                -webkit-box-align: center
                align-items: center
                -webkit-align-items: center
                -ms-flex-align: center
                -webkit-box-pack: center
                justify-content: center
                -webkit-justify-content: center
                -moz-justify-content: center
                -ms-flex-pack: center
                border-radius: 5px
                margin-bottom: 10px
                background-color: #EF3829
                color: #fff
                font-size: 13px
                font-weight: 300
                text-decoration: none
                padding: 8px 16px
                cursor: pointer
                width: 100%
                height: 40px
                border: 1px solid #EF3829

        .form-group
            -webkit-box-orient: vertical
            -webkit-box-direction: normal
            -ms-flex-direction: column
            flex-direction: column
    .compartirEmail 
        display: none
        max-width: 500px
        width: 100%
        min-height: 300px
        margin: auto
        .contElements 
            -webkit-box-sizing: border-box
            box-sizing: border-box
            display: -webkit-box
            display: -ms-flexbox
            webkit-display: -webkit-flex
            display: flex
            flex-direction: row
            -webkit-box-direction: row
            -ms-box-direction: row
            -ms-flex-direction: row
            background-color: #fff
            padding: 14px 18px
            text-align: left
            .contDescrip 
                p 
                    font-size: 14px
                    font-size: .875rem
                    padding: 5px 0
        .compartirEm
            -webkit-box-sizing: border-box
            box-sizing: border-box
            background-color: #fff
            padding: 0 18px 14px
            text-align: left
            fieldset
                overflow: hidden
                & > p
                    text-align: center
                input[type="text"], input[type="email"], input[type="number"], input[type="password"], select 
                    -webkit-box-sizing: border-box
                    box-sizing: border-box
                    width: 100%
                    border: 1px solid #DDD
                    font-size: 0.9rem
                    color: #555
                    padding: 8px !important
                    font-weight: 300
                    cursor: pointer
                .btn-rojo
                    -webkit-box-sizing: border-box
                    box-sizing: border-box
                    display: -webkit-box
                    display: -ms-flexbox
                    display: flex
                    -webkit-box-orient: horizontal
                    -webkit-box-direction: normal
                    -ms-flex-direction: row
                    flex-direction: row
                    -webkit-box-align: center
                    -ms-flex-align: center
                    align-items: center
                    -webkit-box-pack: center
                    -ms-flex-pack: center
                    justify-content: center
                    border-radius: 5px
                    margin-bottom: 10px
                    background-color: #C00
                    color: #fff
                    font-size: 13px
                    font-weight: 300
                    text-decoration: none
                    padding: 8px 16px
                    cursor: pointer
                    width: 100%
                    height: 40px
                    border: 1px solid rgba(0,0,0,0)
                    .btn-gris
                        -webkit-box-sizing: border-box
                        box-sizing: border-box
                        display: -webkit-box
                        display: -ms-flexbox
                        display: flex
                        -webkit-box-orient: horizontal
                        -webkit-box-direction: normal
                        -ms-flex-direction: row
                        flex-direction: row
                        -webkit-box-align: center
                        -ms-flex-align: center
                        align-items: center
                        -webkit-box-pack: center
                        -ms-flex-pack: center
                        justify-content: center
                        border-radius: 5px
                        margin-bottom: 10px
                        background-color: #EEE
                        color: #333
                        font-size: 13px
                        font-weight: 300
                        text-decoration: none
                        padding: 8px 16px
                        cursor: pointer
                        width: 100%
                        height: 40px
                        border: 1px solid rgba(0,0,0,0)

    .content_rankwWish
        display: flex
        flex-direction: row-reverse
        -ms-box-direction: row-reverse
        -ms-flex-direction: row-reverse
        -webkit-box-align: end
        align-items: flex-end
        -webkit-align-items: flex-end
        -ms-flex-align: flex-end
        -webkit-box-pack: justify
        justify-content: space-between
        -webkit-justify-content: space-between
        -moz-justify-content: space-between
        -ms-flex-pack: space-between
        -ms-flex-pack: justify
        .btn-gris 
            -webkit-box-orient: horizontal
            -webkit-box-direction: normal
            box-sizing: border-box
            display: flex
            flex-direction: row
            -webkit-box-align: center
            -webkit-align-items: center
            -webkit-box-pack: center
            -webkit-justify-content: center
            border-radius: 5px
            background-color: #EEE
            color: #333
            font-size: 13px
            font-weight: 300
            text-decoration: none
            padding: 8px 16px
            cursor: pointer
            width: 100%
            height: 40px
            border: 1px solid #EEE
            max-width: 150px
            text-align: center
            margin-bottom: 0

            align-items: center
            &:before
                content: ""
                font-family: "icoClaroShop"
                color: #c0bebf
                margin-right: 5px
                font-size: 18px
        .boxHeart
            // display: block
            float: left
            margin-right: 10px
    .content_Precios
        margin: 10px
        .descT
            color: #EF3829
            margin-left: 10px
        .antes
            -webkit-box-sizing: border-box
            box-sizing: border-box
            display: -webkit-box
            display: -ms-flexbox
            webkit-display: -webkit-flex
            display: flex
            flex-direction: row
            -webkit-box-direction: row
            -ms-box-direction: row
            -ms-flex-direction: row
            padding-bottom: 5px
            font-size: 18px
            font-weight: 300
            p
                text-decoration: line-through
                color: #ACAEAE
        .total
            -webkit-box-sizing: border-box
            box-sizing: border-box
            padding-bottom: 5px
            font-weight: 600
            font-size: 32px
            text-align: left
            .ahorra
                -webkit-box-sizing: border-box
                box-sizing: border-box
                padding-bottom: 5px
                font-size: 14px
                font-weight: 300
    .content_Precios, .content_Promociones 
        -webkit-box-sizing: border-box
        box-sizing: border-box
        padding: 10px 0 0
    .content_Promociones
        display: -webkit-box
        display: -ms-flexbox
        webkit-display: -webkit-flex
        display: flex
        flex-direction: column
        -webkit-box-direction: column
        -ms-box-direction: column
        -ms-flex-direction: column
        position: relative
        .circuloDesc.envioGratis
            -webkit-box-sizing: border-box
            box-sizing: border-box
            background: #117C00
            border-radius: 0
            color: #fff
            display: inline-block
            margin-bottom: 5px
            padding: 10px
            position: relative
            width: auto
            height: 36px
            overflow: visible
            z-index: 5
            text-transform: uppercase
            font-weight: 600
            max-width: 200px
            &:before 
                border-top: 18px solid #117C00
                border-right: 18px solid transparent
                top: 0
            &:after
                border-bottom: 18px solid #117C00
                border-right: 18px solid transparent
                bottom: 0
            &:before, &:after 
                content: ""
                position: absolute
                width: 0
                height: 0
                right: -18px
            &>span, &>div,  &>p
                text-align: center
                position: static
                font-size: 14px
                left: 8px
                top: 12px
        .tagMeses
            max-width: 410px
            display: block
            color: #666
            margin-bottom: 10px
            dd 
                display: none
            dt
                -webkit-box-sizing: border-box
                box-sizing: border-box
                padding: 10px 45px
                cursor: pointer
                position: relative
                &:before
                    content: ""
                    background-repeat: no-repeat
                    background-size: cover
                    position: absolute
                    left: 12px
                    width: 23px
                    display: block
            ul
                list-style-type: disc
                line-height: 1.5
                list-style-position: inside
                padding: 0 20px
                font-size: 13px
            .viewStock 
                box-sizing: border-box
                padding: 15px 5px 3px
                display: block
                color: red
                width: 100%
                .hotStock 
                    box-sizing: border-box
                    padding: 3px 5px
                    display: inline-block
                    color: darkred
                    font-weight: bold
        .tagMeses+.tagMeses 
            border-top: 1px solid #ddd
        .telmex 
            width: auto
            dt
                padding-right: 0
            dt:before
                background: url(/img/telmex.png) !important
            dt:after
                content: ""
                font-family: "FontAwesome"
                font-size: 25px
                position: absolute
                top: 18px
                right: 10px
                line-height: 0
                color: #888
        .tagMeses.show dt:after
            content: ""
            font-family: "FontAwesome"
        .tagMeses.show dd
            display: block
            padding: 10px
        .tagMeses.cardMeses 
            width: auto
            dt 
                padding-right: 0
                cursor: default
                &:before
                    background-image: url(https://resources.claroshop.com/medios-plazavip/swift/v1/claroshop/assets/img/cardMeses.png)!important
                    background-position: 0
                    height: 17px
                    top: 8px
            strong 
                font-weight: bold
                color: black
            .link
                text-decoration: underline
                display: inline-block
                font-size: 0.8rem
                margin-left: 5px
                color: #4990e2
            .show
                display: block !important
    #det_compra 
        width: 100%
    .hidden
        visibility: hidden !important
        max-height: 0px
        height: 0 !important
        padding: 0 !important
        margin: 0 !important
        overflow: hidden !important
    .opciones 
        width: 100%
        border: none
        padding-bottom: 0
        display: flex
        flex-direction: row
        -webkit-box-pack: justify
        -webkit-justify-content: space-between
        padding-right: 16px
        min-height: 120px
        padding-top: 16px
        .boxColor .opc_colors,
        .boxColor .opc_sizes,
        .boxTallas .opc_colors,
        .boxTallas .opc_sizes 
            height: 30px
        .boxColor, .boxTallas
            display: inline-block
            width: 50%
            box-sizing: border-box
            flex-direction: row
            -webkit-flex-wrap: wrap
            -webkit-box-align: center
            -webkit-align-items: center
            -webkit-box-pack: start
            -webkit-justify-content: flex-start
            padding: 10px 0
            span
                font-size: 1rem
                color: #666
                font-weight: 300
                margin: 10px 0
                display: block
            .opc_colors select, 
            .opc_sizes select, 
            .opc_colors select, 
            .opc_sizes select
                height: 35px!important
                width: 70%
                border: 1px solid #DDD
                font-size: 0.8rem
                color: #666
                font-weight: 300
                margin: 0 auto
                background: white

        .boxColor 
            border-right: 1px solid #DDD
        .boxTallas
            padding-left: 20px


.tagMeses.telmex
    width: auto
    dt
        padding-right: 0
        cursor: default
        &:before
            content: url(/css/img/telmex2.png) !important
            background-position: 0 0 !important
            // background-position: 0
            height: 17px
            width: 20px !important
            top: 8px
