.moduleFichaProducto 
    padding: 0
    background: white
    display: block
    .containerProducto
        display: -webkit-box
        display: -ms-flexbox
        webkit-display: -webkit-flex
        display: flex
        flex-direction: row
        -webkit-box-direction: row
        -ms-box-direction: row
        -ms-flex-direction: row
        max-width: 100% !important
        width: calc(100% - 40px)
    .buy-Details
        -webkit-box-sizing: border-box
        box-sizing: border-box
        padding: 0 40px
