@import '../../../sass/_abstracts';

.mplogos
	width: 95%
	margin: 20px auto
	+mediaMax760
		width: 95%
		margin: 20px auto
	img
		display: inline-block
		height: 15px
		width: auto
		margin: 5px 8px
		+mediaMax760
			display: inline-block
			height: 15px
			width: auto
			margin: 5px 8px
		
.nhmetodospago
	width: 100%
	text-align: center
	overflow: hidden
	margin-top: 20px
	+mediaMax760
		width: 100%
		text-align: center
		overflow: hidden
		margin-top: 20px
		
	span
		color: #666
		font-size: 1rem
		+mediaMax760
			color: #666
			font-size: 1rem