.seccionTiendas 
    .tiendasOthers
        padding-top: 16px
        display: inline-block
        width: 100%
        h2
            text-align: left
            font-size: 1.2rem
            color: #DF0209
            width: 100%
        .tiendasLetter
            position: relative
            width: 100%
            display: inline-block
            padding: 16px 0
            border-top: #eee 1px solid
            .tiendasLetterCont
                padding-left: 66px
            h3
                // text-align: center
                font-size: 1.1rem
                font-weight: 400
                color: #DF0209
                position: absolute
                width: 50px !important
                left: 0
                top: 16px
                bottom: 0
                text-align: center
                padding: 12px 8px 8px
                span
                    background: #fff
                    display: initial//inline-block
                    border: #eee 1px solid
                    width: 18px
                    height: 18px
                    // padding: 5px
                    padding: 5px 10px
                    text-align: center
                    border-radius: 50%
                    
        .listOfLetters
            ul
                background-color: #f2f2f2
                -webkit-box-sizing: border-box
                box-sizing: border-box
                width: 100%
                padding: 20px 5px
                margin: 0 auto 16px
                text-align: center
                font-size: 1.1rem
            li
                list-style-type: none
                display: inline-block
                margin: 5px 10px
                .activeLetter
                    color: #4990e2
        .container article 
            width: 198px !important
            min-width: 198px !important
            -webkit-box-sizing: border-box
            box-sizing: border-box
            float: left
            width: 25%
            padding: 8px
            display: table
            a
                border: none !important
                -webkit-box-shadow: inset 0 0 0 1px #DDD
                box-shadow: inset 0 0 0 1px #DDD
                -webkit-transition: 2.5s
                -webkit-transition: color 2.5s
                transition: color 2.5s
                -webkit-box-sizing: border-box
                box-sizing: border-box
                background: #fff
                position: relative
                width: 100%
                height: 100px
                text-align: center
                display: table-cell
                border: #DDD 1px solid
                vertical-align: middle
                padding: 8px
                &:hover:before
                    border-color: #4990e2
                    width: 100%
                    height: 100%
                    -webkit-transition: width 0.1s ease-out, height 0.1s ease-out 0.1s
                    transition: width 0.1s ease-out, height 0.1s ease-out 0.1s
                &:before, &::after
                    top: 0
                    left: 0
                    -webkit-box-sizing: border-box
                    box-sizing: border-box
                    content: ''
                    position: absolute
                    border: 1px solid transparent
                    width: 0
                    height: 0
                img
                    -webkit-transition: 0.5s
                    transition: 0.5s
                    opacity: 0.70
                    filter: alpha(opacity=70)
                    max-width: 140px!important
                    width: 100% !important
                    height: 75px !important
                    object-fit: scale-down !important
