@import '../../../sass/_abstracts';

.moduleFichaProducto .purchaseModule 
    -webkit-box-sizing: border-box
    box-sizing: border-box
    border-left: 10px solid #EEE
    padding: 16px 0 16px 20px
    max-width: 340px
    width: 100%
    [class*="btn-"]
        height: 45px
    .cantProducto
        -webkit-box-sizing: border-box
        box-sizing: border-box
        display: -webkit-box
        display: -ms-flexbox
        webkit-display: -webkit-flex
        display: flex
        flex-direction: row
        -webkit-box-direction: row
        -ms-box-direction: row
        -ms-flex-direction: row
        -webkit-box-align: center
        align-items: center
        -webkit-align-items: center
        -ms-flex-align: center
        -webkit-box-pack: center
        justify-content: center
        -webkit-justify-content: center
        -moz-justify-content: center
        -ms-flex-pack: center
        padding: 20px
        input[type="number"]
            -webkit-box-sizing: border-box
            box-sizing: border-box
            width: 100%
            border: 1px solid #DDD
            font-size: 0.9rem
            color: #555
            padding: 8px !important
            font-weight: 300
        .cantidadProduct
            margin-left: 10px
            -webkit-box-sizing: border-box
            box-sizing: border-box
            padding: 5px
            width: 50px
            height: 30px
            text-align: center
            border: 1px solid #DDD
    .purchase_btns
        border: 0
        padding: 0
        .moduleInfoSafe
            display: flex
            flex-direction: row
            align-item: center
            justify-content: space-between
        .icoDevGratis, .icoCompSegura
            width: 50%
            box-sizing: border-box
            padding: 10px 10px 10px 35px
            font-size: 13px
            position: relative
            &:before
                content: ""
                width: 20px
                height: 20px
                display: block
                position: absolute
                left: 10px
                top: 8px
        .icoDevGratis
            border-right: 1px solid #ddd
            &:before
                background-image: url(https://www.claroshop.com/medios-plazavip/swift/v1/assets/img/devolucion.svg)
                background-size: 17px
                background-repeat: no-repeat
        .icoCompSegura:before
            background-image: url(https://www.claroshop.com/medios-plazavip/swift/v1/assets/img/compra_segura.svg)
            background-size: 15px
            background-repeat: no-repeat
    .btn-rojo, .redBtn
        -webkit-box-sizing: border-box
        box-sizing: border-box
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-orient: horizontal
        -webkit-box-direction: normal
        -ms-flex-direction: row
        flex-direction: row
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
        -webkit-box-pack: center
        -ms-flex-pack: center
        justify-content: center
        border-radius: 5px
        margin-bottom: 10px
        background-color: #C00
        color: #fff
        font-size: 13px
        font-weight: 300
        text-decoration: none
        padding: 8px 16px
        cursor: pointer
        width: 100%
        height: 40px
        border: 1px solid rgba(0,0,0,0)
    .btn-gris
        -webkit-box-sizing: border-box
        box-sizing: border-box
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-orient: horizontal
        -webkit-box-direction: normal
        -ms-flex-direction: row
        flex-direction: row
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
        -webkit-box-pack: center
        -ms-flex-pack: center
        justify-content: center
        border-radius: 5px
        margin-bottom: 10px
        background-color: #EEE
        color: #333
        font-size: 13px
        font-weight: 300
        text-decoration: none
        padding: 8px 16px
        cursor: pointer
        width: 100%
        height: 40px
        border: 1px solid rgba(0,0,0,0)

    .box_claroEnvios
        -webkit-box-sizing: border-box
        box-sizing: border-box
        margin: 20px 0
        padding: 15px 10px
        border-top: 1px solid #888
        border-bottom: 1px solid #888
        .ingresaCP
            position: relative
        .resultadosCP.show
            display: block
        .resultadosCP
            font-size: 14px
            .small
                margin: 10px 0
                display: block
                font-size: 0.8em
                font-weight: 100
            dl
                -webkit-box-sizing: border-box
                box-sizing: border-box
                display: -webkit-box
                display: -ms-flexbox
                webkit-display: -webkit-flex
                display: flex
                flex-direction: row
                -webkit-box-direction: row
                -ms-box-direction: row
                -ms-flex-direction: row
                font-size: 14px
                width: 100%
                margin-bottom: 10px
                padding: 20px 0
                dt
                    float: left
                    clear: both
                    font-weight: 300
                    min-width: 110px
                dd
                    float: left
                    font-weight: 700
                    padding-left: 10px
            ul
                display: block
                width: 100%
            #delEncontrado
                position: relative
                margin-left: 20px
                text-decoration: underline
                margin-bottom: 20px
                display: block
                color: #4990e2
                font-weight: 700
                cursor: pointer
                &::before
                    content: ""
                    font-family: FontAwesome
                    display: inline-block
                    position: absolute
                    left: -15px
                    color: black
        #estafetaCodigoRojo
            position: relative
            margin-left: 20px
            margin-bottom: 20px
            display: block
        .enviosGratis
            color: #117C00
        .enviosGratis:before
            content: ""
            background-image: url(https://resources.claroshop.com/medios-plazavip/swift/v1/claroshop/assets/img/Carrito_Envio1.svg)
            background-size: contain
            background-repeat: no-repeat
            width: 31px
            height: 20px
            display: inline-block
            margin-right: 5px
            margin-bottom: -5px
        .respuestaFecha
            padding-bottom: 0!important
            #fecha
                text-decoration: underline
    .show
        display: block !important
    .moduleVendidoPor
        -webkit-box-sizing: border-box
        box-sizing: border-box
        display: -webkit-box
        display: -ms-flexbox
        webkit-display: -webkit-flex
        display: flex
        flex-direction: row
        -webkit-box-direction: row
        -ms-box-direction: row
        -ms-flex-direction: row
        margin: 20px 0
        padding: 15px 10px
        border-bottom: 1px solid #888
        img
            -o-object-fit: scale-down
            object-fit: scale-down
            width: 90%
            height: auto
            max-height: 40px
        .componentLeft 
            text-align: center
            p
                margin: -15px 0 5px
                font-size: 12px
                font-weight: 600
        .componentRight 
            .btn-gris
                margin-bottom: 0
                -webkit-box-sizing: border-box
                box-sizing: border-box
                display: -webkit-box
                display: -ms-flexbox
                display: flex
                -webkit-box-orient: horizontal
                -webkit-box-direction: normal
                -ms-flex-direction: row
                flex-direction: row
                -webkit-box-align: center
                -ms-flex-align: center
                align-items: center
                -webkit-box-pack: center
                -ms-flex-pack: center
                justify-content: center
                border-radius: 5px
                margin-bottom: 10px
                background-color: #EEE
                color: #333
                font-size: 13px
                font-weight: 300
                text-decoration: none
                padding: 8px 16px
                cursor: pointer
                width: 100%
                height: 40px
                border: 1px solid rgba(0,0,0,0)
        .componentLeft,  .componentRight 
            -webkit-box-sizing: border-box
            box-sizing: border-box
            width: 50%
            padding: 5px
    a.vender-en-claroshop-a
        text-decoration: none
        .vender-en-claroshop            
            text-align: left
            border-radius: 5px
            padding: 10px 5%
            width: 90%
            display: flex
            flex-direction: row
            justify-content: space-between
            margin: auto
            box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.15)
            background-color: #eeeeee
            .vender-en-claroshop-img
                width: 12%
                img
                    width: 100%
            .vender-en-claroshop-descripcion
                display: flex
                flex-direction: row
                align-items: center
                p 
                    color: #343434
                    font-size: 14px
                .vender-en-claroshop-title
                    font-weight: 600
            .arrowed
                position: relative
                display: flex
                flex-direction: row
                align-items: center
                width: 10%
                div
                    position: relative
                .arrow-1 
                    height: 14px
                    width: 14px
                    border: 1px solid red
                    border-width: 3px 3px 0 0
                    transform: rotate(45deg)