.tiendasOficialesTiendas
    p
        -webkit-box-sizing: border-box
        box-sizing: border-box
        color: #fff
        font-weight: 400
        font-size: 16px
        padding: 0 8px 14px
        line-height: 1.4rem
        text-align: center
        display: inline-block
        width: 100%
        margin-bottom: 20px
.Chosen-select 
    border: 1px solid #aaa
    border-radius: 5px
    width: 100%