@import '../../../sass/_abstracts'
.sec__tiendasGrid.border 
    background: #eee
    .ocultar
        display: none
    .seccionServicios
        display: block
        overflow: hidden
        width: 100%
        margin-top: 50px
    .serviciosGridWrap
        // opacity: 0
        filter: alpha(opacity=0)
        width: 95%
        max-width: 100%
        overflow: hidden
        margin: 0 auto
        .serviciosGridCont 
            -webkit-box-sizing: border-box
            box-sizing: border-box
            display: block
            width: 100%
            padding: 16px 8px 0
            article
                -webkit-box-sizing: border-box
                box-sizing: border-box
                float: left
                width: 20%
                display: block
                padding: 0 16px 16px 0
                overflow: hidden
                +mediaMax960
                    width: 33.33% !important
                +mediaMax780
                    width: 50% !important
                +mediaMax480
                    width: 100% !important
                    padding-right: 0 !important
                .servGridElement 
                    border: #DDD 1px solid
                    .marca 
                        padding: 8px
                        border-bottom: #DDD 1px solid
                        span
                            display: block
                            text-indent: -5000px
                        span.logoTelcel
                            background: url(/img/logo-telcel.svg) no-repeat
                            width: 160px
                            height: 25px
                        span.logoTelmex
                            background: url(/img/logo-telmex.svg) no-repeat
                            width: 200px
                            height: 25px
                        span.logoClaro
                            background: url(/img/logo-claro.svg) no-repeat
                            width: 200px
                            height: 25px
                        span.logoInbursa
                            background: url(/img/logo-Inbursa.svg) no-repeat
                            width: 200px
                            height: 25px
                        span.logoSanborns
                            background: url(/img/logo_sanborns.svg) no-repeat
                            width: 200px
                            height: 25px
                    ul
                        padding: 8px
                        background-color: #f2f2f2
                        height: 135px
                        li 
                            margin: 0 0 4px 0
                            padding: 6px 0 6px 17px
                            a
                                color: #333 !important
                                font-size: 0.875rem
                                font-weight: 300
                                height: auto
                                margin-bottom: 8px
                                padding: 5px 15px 5px 0
                                text-align: left
                                text-decoration: none

    
