@import '../../../../sass/_abstracts';

#productoHot
    padding: 0
    margin: 0
    box-sizing: inherit
    width: 98%
    margin: auto
    margin-top: 12px
    background-color: white
    transition: all 1s ease-in-out
    &:hover
        box-shadow: 0px 5px 20px grey
    a
        display: contents
        text-decoration: none
        color: black
        .producto
            display: flex
            flex-direction: row
            width: 80%
            justify-content: center
            margin: auto
            padding: 8px 0
            align-items: center
            +mediaMax960
                width: 100%
                padding: 2px 0
            .producto-img
                display: flex
                flex-direction: row
                width: 60px
                height: 60px
                margin-left: 2%
                +mediaMax960
                    width: 45px
                    height: 45px
                    margin-left: 6%
                img
                    width: 100%
            .producto-caracteristicas
                display: flex
                flex-direction: row
                width: 80%
                +mediaMax960
                    flex-wrap: wrap
                    justify-content: center
                .producto-nombre
                    display: flex
                    flex-direction: row
                    width: 55%
                    align-items: center
                    +mediaMax960
                        width: 100%
                        margin: 10px 0
                    p
                        width: 100%
                        text-align: center
                        font-size: 26px
                        +mediaMax1500
                            font-size: 125%
                .producto-precio
                    display: flex
                    flex-direction: row
                    width: 23%
                    justify-content: center
                    align-items: center
                    +mediaMax960
                        width: 40%
                        justify-content: space-around
                        align-items: baseline
                        padding-top: 3px
                    .precio-antes
                        color: gray
                        font-size: 16px
                        text-decoration: line-through
                        +mediaMax1500
                            font-size: 90%
                        +mediaMax960
                            font-size: 12px
                    .precio-ahora
                        color: gray
                        font-size: 24px
                        margin-left: 5%
                        +mediaMax1500
                            font-size: 130%
                        +mediaMax960
                            font-size: 18px
                .producto-boton
                    display: flex
                    flex-direction: row
                    // width: 10%
                    padding: 5px 20px//10px 20px
                    background: red
                    border-radius: 5px
                    margin-left: 2%
                    +mediaMax1500
                        max-height: 40px//20px
                    +mediaMax960
                        width: 36%
                        padding: 5px 10px
                        margin-left: 6%
                        margin-bottom: 6px
                    p
                        width: 100%
                        color: white
                        font-weight: 700
                        text-align: center
                        font-size: 18px
                        +mediaMax960
                            font-size: 14px
