@import '../../../sass/_abstracts';

.tiendasOficiales
    min-height: auto
    margin-left: auto
    margin-right: auto
    +mediaMax1500
        max-width: 100%
    h2
        font-size: 22px
        font-size: 1.375rem
        color: black
        font-weight: 500
        padding: 16px 0 8px
        .link
            color: #C00
            text-decoration: underline
            display: inline-block
            font-size: 0.8rem
            margin-left: 20px
    .contentTiendasNew
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-orient: horizontal
        -webkit-box-direction: normal
        -ms-flex-direction: row
        flex-direction: row
        margin-bottom: 40px
        .marcasTiendas 
            display: -webkit-box
            display: -ms-flexbox
            display: flex
            -webkit-box-orient: horizontal
            -webkit-box-direction: normal
            -ms-flex-direction: row
            flex-direction: row
            -ms-flex-wrap: wrap
            flex-wrap: wrap
            margin: 10px 10px 10px 0
            width: 100%
            max-width: 25%
        a 
            display: block
            position: relative
            width: calc(50% - 7px)
            background: white
            margin-bottom: 10px
            &:before
                content: ""
                width: 1px
                margin-left: 1px
                float: left
                height: 0
                padding-top: 100%
            &:after
                content: ""
                display: table
                clear: both
        img
            position: absolute
            -webkit-transform: translate(-50%, -50%)
            transform: translate(-50%, -50%)
            top: 50%
            left: 50%
            width: 100%
            display: block
        a:nth-child(2), a:nth-child(4) 
            margin-left: 5px

.carruselesNewH
    width: 95%
    min-height: 400px
    margin: 0 auto
    padding-top: 0
.slideTiendaD 
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    width: 100%
    max-width: 75%
    -webkit-overflow-scrolling: touch
