@import '/../../../sass/_abstracts';
@import '/iconos';

.productosNewCat
	.menuFirstLevel
		+bx
		+flex(!important)
		+flexDir(row)
		+justifyCont(space-between)
		padding: 2px 0 2px 35px
		&:hover
			background: $color-border
			.menuSecondLevel
				+flex(!important)
				+flexDir(row)
				+flexWrap(wrap)
				+alignCont(flex-start)

			>dt
				>a
					&:after
						color: $color-text
		>dt
			+bx
			padding-right: $min-spacer/2
			font-size: 0.8rem
			position: inherit !important
			width: 100%
			>a
				font-weight: 300
				position: relative
				width: 95%//100%
				display: block!important
				&:after
					+fawesome("\f105")
					+center(h)
					color: #aaa
					right: 0px

	.menuSecondLevel
		+bx
		+flex
		+flexDir(row)
		background: white
		border: 1px solid $color-border
		display: none !important
		padding: $min-spacer/2
		position: absolute
		min-width: 585px
		height: auto
		min-height: calc(100% + 2px)
		top: -1px
		left: 173px
		width: calc(100vw - (173px + 40px))
		>dt
			+bx
			width: 100%
		>dd
			+bx
			width: 20%
		.contImg
			position: relative
			a
				+bx
				padding: 3px !important
				background: rgba(white,0.5)
				position: absolute
				right: 0px
				color: $color-link !important
				font-size: 0.75rem
				text-align: right
				margin-bottom: 5px


	.menuThirdLevel
		+bx
		+flex
		+flexDir(row)
		+flexWrap(wrap)
		min-width: 20%
		dt
			+bx
			font-weight: 400
			padding-left: 15px
			width: 25%
			min-width: 25%
			padding-right: 10px
			&.more
				width: 25%
				min-height: 100px
			>a
				font-weight: 400
				font-size: 0.9rem
				border-bottom: 1px solid #ddd
				padding-bottom: 5px !important

		ul
			+bx
			+flexDir(column)
			+justifyCont(flex-end)
			width: 100%
			float: left
			padding-top: 4px
			li
				height: initial
				margin-bottom: 0//6px
				&:nth-child(1n+8)
					display: none !important
				a
					font-weight: 300
					font-size: 0.8rem
					text-align: left

/*Estilos Menus*/
.productosHead
	width: 175px
	max-width: 175px
	min-width: 175px
	margin-left: 0

.categorias,
.productosHead
	width: $g12
	ul
		+flex(!important)
		+flexDir(row)
		+justifyCont(flex-start)
	li
		+flex(!important)
		+alignItem
		+justifyCont(center)
		text-align: center
		color: white
		height: 42px
		cursor: pointer
		&.depa
			font-weight: 400
			display: none !important
		&.active
			background: white
			a
				color: $primario
		&.hover
			.menuHeader
				+fx(max-height, 0.5s)
				display: block
				color: black
				max-height: 650px
				height: auto
				border-bottom: 1px solid $color-border
				z-index: 110
				.subMenu
					&.g-4
						dd,dt
							margin-left: $min-spacer/2
							margin-bottom: $min-spacer/2


.productosNewCat
	+bx
	background: #434343
	padding: 0 8px
	width: 100%
	position: relative
	font:
		size: 0.9rem
		weight: 300
	&:after
		+fawesome("\f107")
		color: white
	&:hover
		&:after
			+fawesome("\f106")
		.menuHeader
			overflow: inherit
			border: 1px solid $color-border
			height: auto
			max-height: 650px

	a
		+bx
		+aReset
		+flex(!important)
		+alignItem
		width: 100%
		
	> a
		+justifyCont(center)
		color: white

	.menuHeader
		+bx
		background: white
		display: block
		color: black
		max-height: 0
		height: 0
		position: absolute
		overflow: hidden
		border: inherit
		margin-top: 34px
		left: 0
		top: 8px
		width: 100%
		z-index: 110
		a
			+justifyCont(flex-start)
			color: #222

	.subMenu
		+bx
		@extend %cf
		max-width: 940px !important
		padding: inherit
		color: $negro
		font-weight: 300
		height: auto
		margin: auto
		min-height: 318px
		
		li,
		dl
			border-right: none
			text-align: initial

		dt
			font-weight: 400
			margin: 1px 0//5px 0
			position: relative