.ico-celulares-y-telefonia:before, 
.ico-ropa-calzado-y-accesorios:before, 
.ico-joyeria-y-relojes:before, 
.ico-otras-categorias:before, 
.ico-tecnologia-y-electronica:before, 
.ico-electronica-y-tecnologia:before, 
.ico-hogar:before, 
.ico-hogar-y-jardin:before, 
.ico-muebles:before, 
.ico-ella:before,
.ico-el:before, 
.ico-videojuegos:before, 
.ico-libros-y-revistas:before, 
.ico-libros-revistas-y-comics:before,
.ico-salud-y-belleza:before, 
.ico-ninos-y-bebes:before,
.ico-mama-y-bebe:before,
.ico-juguetes:before,
.ico-juegos-y-juguetes:before,
.ico-deportes:before, 
.ico-deportes-y-ocio:before,
.ico-ferreteria-y-autos:before,
.ico-entretenimiento:before,
.ico-peliculas-series-de-tv-y-musica:before, 
.ico-perfumes-y-maquillaje:before, 
.ico-salud-belleza-y-cuidado-personal:before,
.ico-optica:before, 
.ico-animales-y-mascotas:before,
.ico-farmacia:before,
.ico-bebidas:before
    position: absolute
    color: #26303c
    left: -20px
    font-family: icoClaroShop
.ico-celulares-y-telefonia::before 
    content: ""
    font-size: 19px
    left: -25px
    top: -4px
.ico-tecnologia-y-electronica::before, 
.ico-electronica-y-tecnologia::before
    content: ""
    font-size: 20px
    left: -25px
    top: 4px
.ico-videojuegos::before 
    content: ""
    font-size: 20px
    left: -22px
    top: -6px
.ico-hogar::before, .ico-hogar-y-jardin::before
    content: ""
    font-size: 20px
    left: -23px
    top: -4px
.ico-deportes::before, .ico-deportes-y-ocio::before
    content: ""
    font-family: icoClaroShop
    font-size: 20px
    left: -23px
    top: -3px
.ico-ferreteria-y-autos::before 
    content: ""
    font-family: icoClaroShop
    font-size: 25px
    left: -23px
    top: -4px
.ico-ropa-calzado-y-accesorios::before 
    content: ""
    font-family: icoClaroShop
    font-size: 18px
    left: -24px
    top: 5px
.ico-ninos-y-bebes::before, .ico-bebes-y-jugetes::before, .ico-mama-y-bebe::before 
    content: ""
    font-family: icoClaroShop
    font-size: 20px
    top: -5px
    left: -26px
.ico-salud-y-belleza::before, .ico-salud-belleza-y-cuidado-personal::before
    content: ""
    font-family: icoClaroShop
    font-size: 19px
    left: -25px
    top: 6px
.ico-joyeria-y-relojes::before 
    content: ""
    font-family: icoClaroShop
    font-size: 19px
    left: -25px
    top: -6px
.ico-juguetes::before, .ico-juegos-y-juguetes::before 
    content: ""
    font-family: icoClaroShop
    font-size: 21px
    left: -23px
    top: -5px
.ico-libros-y-revistas::before, .ico-libros-revistas-y-comics::before 
    content: ""
    font-family: icoClaroShop
    font-size: 20px
    left: -24px
    top: 4px
.ico-entretenimiento::before, .ico-peliculas-series-de-tv-y-musica::before
    content: ""
    font-family: icoClaroShop
    font-size: 19px
    left: -24px
    top: 5px
.ico-otras-categorias::before 
    content: ""
    font-family: icoClaroShop
    font-size: 15px
    left: -23px
    top: -3px
.ico-animales-y-mascotas::before 
    content: ""
    font-family: icoClaroShop
    font-size: 17px
    left: -24px
    top: -3px
.ico-bebidas::before 
    content: ""
    font-family: icoClaroShop
    font-size: 20px
    left: -25px
    top: -7px
.ico-supermercado:before 
    content: ""
    background-image: url(/img/ico-supermercado-ico.png)
    background-size: contain
    width: 22px
    height: 22px
    display: inline-block
    position: absolute
    left: -25px
    top: -2px