@import '../../../sass/_abstracts';

.carruselesNewH
    width: 95%
    min-height: 400px
    margin: 0 auto
    padding-top: 0
    h2
        font-size: 22px
        font-size: 1.375rem
        color: black
        font-weight: 500
        padding: 16px 0 8px
        .link 
            color: #C00
            text-decoration: underline
            display: inline-block
            font-size: 0.8rem
            margin-left: 20px
    .rowProductos
        width: 100%
        overflow: hidden
        .slick-prev,
        .slick-next
            -webkit-transition: opacity .2s
            transition: opacity .2s
            opacity: 1
            width: 42px !important
            height: 75px !important
            padding: 20px 5px !important
        .slick-prev
            left: 0 !important
            border-radius: 0px 5px 5px 0px !important
            background: rgba(0,0,0,0.4) !important
            display: block
            z-index: 25
            &:before
                background: url(/css/img/flecha-back-32px.png) no-repeat !important
        .slick-next
            right: 0 !important
            border-radius: 5px 0px 0px 5px !important
            background: rgba(0,0,0,0.4) !important
            &:before
                background: url(/css/img/flecha-next-32px.png) no-repeat !important
        .slick-prev:before, 
        .slick-next:before
            content: " " !important
            display: block
            width: 32px !important
            height: 32px !important
            margin: 0px
            position: relative
        .cardProduct 
            width: 244px
            -webkit-box-sizing: border-box
            box-sizing: border-box
            background-color: white
            // width: 225px
            min-width: 180px
            float: left
            position: relative
            font-weight: 300
            margin: 0 5px 5px
            .fixHeader.wishlistLogin .wishlistButton
                display: block
            .wishlistButton 
                position: absolute
                display: block
                top: 10px
                right: 10px
                cursor: pointer
                z-index: 2
                &:before
                    content: ""
                    font-family: "icoClaroShop"
                    font-size: 20px
                    color: #c0bebf
                &.active:before
                    color: #C00
            a
                color: inherit
                text-decoration: none
                display: block
            .contImgProd 
                -webkit-box-sizing: border-box
                box-sizing: border-box
                height: 240px
                padding-top: 10px
                img 
                    display: table
                    margin: auto
                    width: 90%
                    max-width: 240px
                    height: auto
                    max-height: 240px
                    -o-object-fit: scale-down
                    object-fit: scale-down
            .carruselContenido
                -webkit-box-sizing: border-box
                box-sizing: border-box
                display: -webkit-box
                display: -ms-flexbox
                display: flex
                -webkit-box-orient: horizontal
                -webkit-box-direction: normal
                -ms-flex-direction: row
                flex-direction: row
                -ms-flex-wrap: wrap
                flex-wrap: wrap
                width: 100%
                padding: 10px 15px
                min-height: 70px
                .descrip 
                    margin: 0 0 18px
                    font-size: 0.9rem
                    color: #333
                    text-align: left
                    line-height: 1.3
                    height: 36px
                    overflow: hidden
                .info
                    -webkit-box-sizing: border-box
                    box-sizing: border-box
                    display: -webkit-box
                    display: -ms-flexbox
                    display: flex
                    -webkit-box-orient: horizontal
                    -webkit-box-direction: normal
                    -ms-flex-direction: row
                    flex-direction: row
                    -ms-flex-wrap: wrap
                    flex-wrap: wrap
                    -webkit-box-pack: justify
                    -ms-flex-pack: justify
                    justify-content: space-between
                    -webkit-box-align: center
                    -ms-flex-align: center
                    align-items: center
                    width: 100%
                    min-height: 46px
                    .infoDesc
                        -webkit-box-sizing: border-box
                        box-sizing: border-box
                        display: -webkit-box
                        display: -ms-flexbox
                        display: flex
                        -webkit-box-orient: horizontal
                        -webkit-box-direction: normal
                        -ms-flex-direction: row
                        flex-direction: row
                        -ms-flex-wrap: wrap
                        flex-wrap: wrap
                        -webkit-box-pack: justify
                        -ms-flex-pack: justify
                        justify-content: space-between
                        -webkit-box-align: center
                        -ms-flex-align: center
                        align-items: center
                        width: calc(100% - 70px)
                        .precioant
                            -webkit-box-sizing: border-box
                            box-sizing: border-box
                            max-width: 50%
                            text-align: left
                            color: #666
                            min-height: 13px
                            margin: 0 8px 5px 0
                            font-size: 0.9rem
                            min-height: 15px
                            text-decoration: line-through
                        .preciodesc 
                            -webkit-box-sizing: border-box
                            box-sizing: border-box
                            font-size: 1.2rem
                            min-height: 25px
                            color: #C00
                            width: 100%
                            display: block
                            font-weight: 500
                            text-align: left
                            padding-right: 5px
                        .descText
                            padding: 3px
                            width: auto
                            position: relative
                            height: auto
                            border-radius: 5px
                            background: #117C00
                            font-weight: 500
                            display: -webkit-inline-box
                            display: -ms-inline-flexbox
                            display: inline-flex
                            top: inherit
                            // left: inherit
                            left: 5px
                            margin-right: -10px
                            span
                                color: white
                                font-size: 0.8rem
                    .contentPromo
                        display: -webkit-box
                        display: -ms-flexbox
                        display: flex
                        -webkit-box-orient: horizontal
                        -webkit-box-direction: normal
                        -ms-flex-direction: row
                        flex-direction: row
                        -webkit-box-pack: end
                        -ms-flex-pack: end
                        justify-content: flex-end
                        width: 70px
                        padding-top: 25px//15px
                        .envioCard 
                            display: inline-block
                            width: 70px!important
                            height: 24px
                            position: relative
                            float: right
                            span:first-child 
                                display: block!important
                            span
                                box-sizing: border-box
                                display: none!important
                                -webkit-transition: none
                                transition: none
                                opacity: 1
                                position: relative
                                font-family: sans-serif
                                font-size: 9px
                                padding: 5px 3px
                                font-weight: 500
                                text-transform: uppercase
                                background: green
                                color: white
                                border: none
                                top: 0!important
                                left: 0
                                min-width: 70px
                                max-width: 70px
                                text-align: center
                                pointer-events: none
                                width: 100%
