@import '../../../sass/_abstracts';

.anteanter_section
	display: block
.search
	+bx
	padding: 0 32px 0 8px !important
	min-width: 30%
	max-width: 100%
	width: 60%
	overflow: visible
	+mediaMin780
		transition: 1s
		max-width: 100%
	+mediaMax780
		+bx
		max-height: 0
		// overflow: hidden
		position: absolute
		background: #fff
		padding: 0 8px
		width: 100% !important
		top: 46px
		left: 0
		z-index: 10
		margin-right: 2px !important
		padding-right: 0 !important
	+mediaMax1280
		margin-right: 30px
	.formulario
		+mediaMax780
		    margin-right: 18px
	section
		padding: 0

	input[placeholder="Que estas buscando"]
		&:after
			content: "/"
	.contSearch
		+flex
		+flexDir(row)
		+justifyCont(space-between)
		width: 100%
		border: 1px solid $color-border
		border-radius: 5px
		background: #eee
		position: relative
	.input2
		+bx
		+appearance
		+flex
		+flexDir(row)
		width: 100%
		border-radius: 5px 0 0 5px
		background: white
		overflow: hidden
		// +mediaMax1280
		// 	margin-right: 10px
		+mediaMax780
		    margin-right: 0 !important
		input[type="search"]
			+bx
			+appearance
			width: calc(100% - 50px)
			border-radius: 5px
			height: 40px
			padding: 10px
			border: none
			font-size: 0.9rem
			&:focus
				outline: 0
		.bt__search
			+bx
			background: $primario
			width: 100%
			min-width: 30px
			max-width: 50px
			height: 40px
			border-radius: 0px 5px 5px 0px
			border: none
			cursor: pointer
			border: 1px solid $primario
			font-size: 1rem
			padding: 0px 0px 2px
			&:focus
				outline: 0
			&:before
				content: ""
				background: url(#{$iconSearch64}) no-repeat center
				display: block
				width: 20px
				height: 20px
				margin: 0 auto


#recentSearch
	display: none!important