@import '/../../sass/_abstracts';

//Styles Header Inferior
.header_inferior
	+bx(content-box)
	background: $color-text-dark
	font-weight: 300
	min-height: 42px
	position: relative
	top: 0
	+mediaMax780
		display: none
		&.view
			display: block
	
	.containerInferior
		+flex
		+flexDir(row)
		+justifyCont(space-between)
		+alignItem
		min-height: 42px
		margin-left: 15px

	.box__mobile
		display: none