@import '/../../../sass/_abstracts';

//- Bloque Wishlist
.menuPrincipal
	.wishlist
		display: block
		position: relative
		margin-left: 10px
		margin-top: 23px
		background: none//white
		// width: 100px
		+mediaMax780
			margin-left: 0
			background: none
		&.notification
			.push
				display: none
		.push
			display: none
			position: absolute
			color: white
			background-color: $primario
			padding: 3px 5px
			border-radius: 10px
			font-size: 0.7rem
			top: -9px
			left: 17px
			+mediaMax780
				top: 0px
				left: 54%
		.icono
			text-decoration: none !important
			&:before
				+icoShop("\e91E")
				+font-size(25px)
				color: #222
			+mediaMax780
				text-align: center

	#formDeseos
		display: block
		width: auto
		+mediaMax780
			height: 50px
		>li
			width: 100% !important

	#wishlist_snippet
		display: none