@import '../../../sass/_abstracts';

.header__movil
    // padding: initial
    margin-top: 20px
    +mediaMin780
        display: none
    .navegacionM
        display: none
        background: rgba(10,10,10,0.7)
        &>dl>dt
            cursor: pointer
            color: white
            position: relative
            font-weight: 300
            padding: 16px
        &>dl, &>a
            -webkit-box-sizing: border-box
            box-sizing: border-box
            cursor: pointer
            color: #fff
            position: relative
            font-weight: 300
            cursor: pointer
            display: block
            width: 100%
            text-decoration: none
            position: relative
        &>dl>dt:after
            position: absolute
            right: 16px
            font-size: 0.8rem
            content: ""
            font-family: "FontAwesome"
        &>dl.show>dt:after
            content: ""
            font-family: "FontAwesome"
        &>dl.show>dt+dd
            display: block
            cursor: pointer
            color: black
            background: white
            position: relative
            font-weight: 300
            border-bottom: 1px solid #DDD
            -webkit-tap-highlight-color: transparent
        &>dl>dd
            overflow: hidden
            display: none
            &>dl
                font-size: 0.8rem
                &>dt
                    padding: 16px 16px 16px 32px
                    cursor: pointer
                    color: black
                    position: relative
                    font-weight: 300
                    border-bottom: 1px solid #DDD
            a
                padding: 16px 0
                color: inherit
        &>dl:nth-child(5)
            background: #1F97AE
    &.view .navegacionM
        display: block
        overflow: scroll
        position: absolute
        width: 100%
        height: calc(100vh - 107px)
        z-index: 1
        +mediaMax780
            height: calc(100vh - 155px)
    .movil
        padding: 16px
        cursor: pointer
        color: #fff
        position: relative
        font-weight: 300
        text-decoration: none
        display: block
        width: 100%
        i
            position: absolute
            right: 15px!important
    .categorias
        background: #B7202E
    .tiendas
        background: #222
    .servicios
        background: #666
    .ayuda
        background: #868686
    .supermercado
        background: #0DC511
    .mayoreo
        background: #666
