body
    background-color: #f5f2f1 !important
.nhfooter
    background-color: white !important
    width: 100%

// .App
//   text-align: center
//   width: 100%
//   height: 100%

// .pedido
//   border: 1px solid #d8d8d8
//   border-radius: 5px

// .texto
//   color: #000

// .entrada
//   border: none
//   background: none

// .ayuda
//   background: none
//   border: none

//   &:before
//     content: ""
//     font-family: FontAwesome
//     color: #000
//     font-size: 18px
// //  /* margin-left: 10px; */

// .tooltip
//   position: relative
//   display: inline-block

//   & .tiptext
//     visibility: visible !important
//     display: flex !important

// .tiptext
//   visibility: hidden
// //  /* width: 340px; */
//   width: max-content
//   background-color: #d0d0d0
//   color: #000
//   text-align: center
//   border-radius: 3px
//   padding: 6px 6px
//   position: absolute
//   z-index: 1
//   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
//   &:after
//     position: absolute
//     border-width: 5px
//     border-style: solid

//   .bottom &
//     top: -30px
//     left: 5px

//   .bottom:after &
//     margin-left: -5px
//     bottom: 100%
//     left: 50%
//     border-color: transparent transparent #2E2E2E transparent

// .bold
//   font-weight: 600

// .seccionPrincipal .titulo
//   font-weight: 600
//   font-size: 1.3rem

// .pdf
//   width: 612px
// //  /* height: 792px; */s
//   background-color: white
//   margin: 0 auto

// /* ------------------ */
// .centrar
//   display: flex
//   justify-content: center

// .movieList
//   display: flex
//   flex-wrap: wrap
//   justify-content: space-between
//   padding: 16px

// .item
//   margin-bottom: 24px
//   width: 30%
