@import '/../../../sass/_abstracts';

//Styles Header Login
.menuPrincipal
	//- Bloque Login
	.login
		display: block
		position: relative
		+mediaMax780
			bottom: 7px
		&:hover,
		&:hover
			.box__login 
				opacity: 1
				filter: alpha(opacity=100)
				visibility: visible
				-webkit-transition: 0.5s
				transition: 0.5s
				display: table
				width: 250px
		.box__login
			+bx
			position: absolute
			padding: $spacer16
			top: 50px
			left: -100px
			width: 250px
			background: white
			border: 1px solid $color-border
			display: none
			border-radius: 5px
			box-shadow: 1px 2px 5px rgba(50,50,50,0.4)
			z-index: 100
			+mediaMax780
				bottom: 59px
				right: -50px
				left: initial
				top: initial
				padding: 16px
			&:before
				content: " "
				background: url(/img/tri.webp) no-repeat center
				position: absolute
				width: 100%
				height: 20px
				top: -20px
				left: 0
				z-index: 160
				+mediaMax780
					transform: rotate(180deg)
					top: inherit
					left: 26px
					bottom: -20px
			a
				height: auto
				width: auto
				&:before
					display: none
			dl
				font-size: 0.8rem
				color: $color-text
				padding-bottom: $spacer16/2
				padding-top: $spacer16/2
				&:not(.logIn)
					a, 
					.cerrar
						color: #666
						text-align: left
						padding: 4px
						width: 100%
						text-decoration: none
						&:hover
							color: $azulLink
							text-decoration: underline
			p
				display: block
				padding-top: 2px !important
				width: 100%
				font-size: .8rem
				text-align: center
			.logIn
				border-bottom: none
				max-width: 160px
				margin: auto
				a
					text-decoration: none
					&:hover
						text-decoration: underline
					&.redBtn
						text-align: center
						&:hover
							text-decoration: none
				>dd
					font-size: 0.7rem
				p
					padding: 8px 0 12px
			.logOut
				display: block
				margin-top: 5px
				margin-bottom: 0
				padding-bottom: 0
				.cerrar
					color: $azulLink !important
					text-align: center !important
					padding: 4px 0
					margin: 4px auto 0
					&:hover
						text-decoration: underline
				p
					display: block
					width: 100%
					font-size: 0.8rem
					text-align: center
					padding:
						right: 0
						bottom: 0

				dt
					margin-bottom: $min-spacer/4


		&.log
			.box__login
				display: table

		#userInformation
			display: block
			margin: auto
			padding: 0
			text-align: left
			color: #666666
			+mediaMax780
				text-align: center
			&:before
				+icoShop("\E91B")
				+font-size(25px)
			span
				display: block
				font-size: 0.6em
				font-weight: 700
				+mediaMax780
					display: none
			
		p
			padding: 8px 0 12px
		
		.redBtn, 
		.standardBtn 
			+flexDir(row)
			color: inherit
			text-decoration: none
			-webkit-box-sizing: border-box
			box-sizing: border-box
			margin-bottom: 10px
			font-size: 13px
			text-align: center
			border-radius: 5px
			display: table
			cursor: pointer
			padding: 8px 0
			font-weight: 300
			text-align: center !important
			text-decoration: none !important
			-webkit-box-orient: horizontal
    		-webkit-box-direction: normal
    		-webkit-box-align: center
			align-items: center
    		-webkit-box-pack: center
			justify-content: center
			width: 160px !important
		.redBtn
			background-color: $rojoBtn
			border: 1px solid $rojoBtn
			color: white
			&:hover
    			background-color: $rojo2
    			border: 1px solid $rojo2
    			color: white
		.standardBtn
			background-color: $color-bgClaro
			border: 1px solid $color-bgClaro
			color: $color-text-dark
			&:hover 
    			background-color: $color-gris
    			border: 1px solid $color-gris
    			color: white

