.float
    position: fixed
    width: 60px
    height: 60px
    bottom: 75px
    right: 50px
    background-color: #25d366
    color: #FFF
    border-radius: 8px
    text-align: center
    font-size: 30px
    box-shadow: 3px 3px 9px #C0C0C0
    z-index: 10000
.flex-column-container
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
.fa
    display: inline-block
    font: normal normal normal 14px/1 FontAwesome
    font-size: inherit
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
.fa-whatsapp:before
    content: "\f232"
.text
    font-size: 13px
    margin-top: 2px
