@import '../../../sass/_abstracts';

.notification 
	padding: 0 !important
.menuPrincipal
	//- Bloque Carrito
	.cart
		display: block
		position: relative
		background: none//white
		padding-right: 0 !important
		padding-left: 1.25rem !important
		+mediaMax780
			background: none
		&:hover,
		&.hover
			.box__carrito
				opacity: 1
				filter: alpha(opacity=100)
				visibility: visible
				-webkit-transition: 0.5s
				transition: 0.5s
				display: table
				width: 390px
				left: -300px
			h3
				border-bottom: 1px solid #ddd
				padding-bottom: 8px
				text-align: left
				font-size: .8rem
		
		&.notification
			.push
				display: block
		>a
			width: 85px
			&:before
				+icoShop("\E93f")
				+font-size(25px)
				color: #222
				+mediaMax780
					margin: 0
					min-height: 32px
					margin-left: -0
		.push
			display: none
			position: absolute
			color: white
			background-color: $primario
			padding: 1px 6px
			border-radius: 10px
			font-size: 0.7rem
			left: 31px
			margin-top: -5px
			opacity: 0.8
			+mediaMax780
				left: 48%//53%
				margin-top: 1px
		a
			text-decoration: none !important
		#a
			width: 80px !important

		.box__carrito
			+bx
			position: absolute
			padding: $min-spacer
			top: 50px
			left: -300px
			width: 390px
			background: white
			border: 1px solid $color-border
			display: none
			border-radius: 5px
			box-shadow: 1px 2px 5px rgba(50,50,50,0.4)
			z-index: 100
			+mediaMax780
				bottom: 59px
				right: 30px
				margin-right: 0
				left: initial
				top: initial
				width: 250px
			
			&:before
				content: " "
				display: block
				background: url(/img/tri.webp) no-repeat center
				position: absolute
				width: 100%
				height: 20px
				top: -20px
				right: -130px
				z-index: 160
				+mediaMax780
					transform: rotate(180deg)
					top: inherit
					left: inherit
					right: -110px
					bottom: -20px
			
			h3
				border-bottom: 1px solid $color-border
				text-align: left
				padding-bottom: $min-spacer/2
		

	.boxCarritoCont
		height: 371px
		overflow-y: auto
		+mediaMax780
			height: 226px


	//- producto card
	.caja__product
		+bx
		width: 100%
		height: auto
		padding: 15px 0
		border-bottom: 1px solid #DDD

	.fila_producto
		+bx
		color: inherit
		text-decoration: none
		background: white
		display: table
		width: 100%
		height: 100%

	.bcp_producto
		+flex
		+flexDir(row)
		overflow: hidden
		width: 100%
		+mediaMax780
			+flexDir(column)
			
		.contImg,
		.contInfo
			a
				width: 100%
				font-weight: 400
				margin-left: 6px
				+mediaMax780
					margin-left: 0
				&:before
					display: none
		.contImg
			width: 24%
			+mediaMax780
				width: 50%
				margin: auto
			img
				width: 100%
				border: 1px solid $color-border
				max-width: 100px
				max-height: 75px
				object-fit: scale-down
				height: auto
				margin: auto
				display: table
				+mediaMax780
					max-width: 110px
					max-height: 100px
		.contInfo
			+bx
			width: 70%
			padding: 0px 16px
			+mediaMax780
				width: 100%
				padding: 0
			a
				+aReset
				&:hover
					color: #1F97AE
					text-decoration: underline
			.producto
				+font-size(14px)
				font-weight: 600
				padding: 10px 0
				min-height: 36px
				line-height: 20px
				color: black
			.info
				width: 100%
				font-size: 0.8rem
				color: #666
				p
					text-align: left
					margin-left: 6px
	
	.botones_cajaPago
		+flex
		+flexDir(row)
		+justifyCont
		+alignItem(flex-start)
		margin: 0 auto
		width: 100%
		.botones
			+flex
			+flexDir(row)
			+justifyCont(space-between)
			width: 100%
			margin-top: 28px
			+mediaMax780
				+flexDir(column)
	
			a
				width: 38% 
				+mediaMax780
					width: 80% 
					padding: 10px 10%
			.botonComprarClick,
			.botonComprarAhora
				border-radius: 5px
				margin-bottom: 10px
				padding: 8px 16px
				transition: all .3s
				height: auto !important
				text-align: center !important
			.botonComprarClick
    			background-color: white
    			border: 1px solid #666
    			color: #666
			.botonComprarAhora
				color: white !important
				border: 1px solid #ddd
				background-color: #DA262D
					

                    