@import '../../sass/_abstracts';

//Styles Header Superior
.header_superior
	width: 100%//98%
	+bx(content-box)
	background: white
	font-size: 1.3rem
	min-height: $headerMiddle
	position: relative
	+mediaMax780
		padding: 0px
	.container2
		width: 97%
		+flex
		+flexDir(row)
		+justifyCont(space-between)
		+alignItem
		min-height: $headerMiddle

// Styles Logo
.header_logo
	margin-left: 22px
	margin-right: 22px
	color: #666
    text-decoration: none
	display: table
	font-size: 0.95rem
	font-weight: 300
	height: 65px
	margin-top: initial
	position: relative
	text-indent: -1000px
	width: 200px
	+mediaMax780
		width: 130px
		height: 30px
		font-size: .6rem
		text-indent: -970px
		overflow: hidden
		margin: auto
	&:before
		content: " "
		float: left
		height: 50px
		margin-top: 5px
		width: 97%
		background-image: url(https://www.claroshop.com/css/vector/logo.svg)
		background-repeat: no-repeat
		background-size: 100%
		background-position-x: center
		background-position-y: center
		+mediaMax780
			width: 130px
			margin-top: 0
			height: 30px !important

// Menu Superior
.menuPrincipal
	+flex
	+flexDir(row)
	+justifyCont(space-between)
	color: $color-text
	min-width: 280px
	z-index: 120
	width: 30%
	+mediaMax780
		width: 100%
		max-width: 100%
		z-index: 2015
		position: fixed
		bottom: 0
		left: 0
		background: #fff
		border-top: 1px solid #DDD
	ul
		+flex
		+flexDir(row)
		+justifyCont(space-around)
		+alignItem
		height: 50px
		width: 100%
		+mediaMax780
			height: 60px
		li
			+bx
			+flex
			font-size: 0.8rem
			text-align: center
			margin-left: -1px
			position: relative

	.buscar, 
	.ayuda, 
	.wishlist,
	.login, 
	.cart
		> a,
		> div
			+aReset
			width: 100px
			height: 30px
			margin-right: 5px
			text-align: left
			font-weight: 300
			color: $negro
			+mediaMax780
				height: 40px
			&:before
				content: " "
				background-size: 100%
				width: 25px
				height: 25px
				margin: 0 5px 5px 0
				display: table
				float: left
				text-align: center
				+mediaMax780
					width: 100%
					height: 18px
					margin-bottom: -7px

		a
			display: table
			+mediaMax780
				text-align: center !important
			span
				display: block
				font-size: 0.6em
				font-weight: 700
				+mediaMax780
					display: none

	.ayuda
		display: none !important 

.desktopMenu
	display: block
	opacity: 0
	+mediaMax780
		left: 10px
		margin-left: 0px
		position: absolute
		top: 11px
		opacity: 1
	&:before
        content: ""
        font-family: "FontAwesome"
        color: #C00
        cursor: pointer
        font-size: 1.5rem
        margin-left: 5px
	&.close:before
        content: ""
        font-family: "FontAwesome"